<!--body>    
    <div>        
        <mat-toolbar >
           
            <mat-toolbar-row>
                 <button mat-icon-button class="example-icon" (click)="drawer.toggle()" >
                    <mat-icon>menu</mat-icon>
                 </button>
                <h1>AtlasPharmacy</h1>
                <span class="menu-spacer"></span>
                <div class="divTool">
                <button mat-button class="toolButton" (click)="enablePharmacy()"><mat-icon> local_pharmacy</mat-icon> Search for pharmacies </button>
                <button mat-button class="toolButton" (click)="enableMedcs()"> <mat-icon> science</mat-icon>Search for medications </button>
                </div>
                <span class="example-spacer"></span>
                <button mat-icon-button  [routerLink]="'/login'">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" class="tooltip" >
                        login <span class="tooltiptext">Login</span>
                    </mat-icon>
                </button>
                <button mat-icon-button [routerLink]="'/registration'" class="example-icon" aria-label="Example icon-button with share icon"  class="tooltipR">
                <mat-icon>app_registration <span class="tooltiptext">Registration</span>
                </mat-icon>
                </button>
            </mat-toolbar-row>

        </mat-toolbar>
    </div>

    <div *ngIf="pharmacy"> 
  
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th mat-sort-header="grade">Grade</th>
                
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Content 1</td>
                    <td>Content 1</td>
                    <td>Content 1</td>
                    
                </tr>
                <tr>
                    <td>Content 2</td>
                    <td>Content 2</td>
                    <td>Content 2</td>
                
                </tr>
                <tr>
                    <td>Content 3</td>
                    <td>Content 3</td>
                    <td>Content 3</td>
                    
                </tr>
                <tr>
                    <td>Content 4</td>
                    <td>Content 4</td>
                    <td>Content 4</td>
                
                </tr>
                <tr>
                    <td>Content 5</td>
                    <td>Content 5</td>
                    <td>Content 5</td>
                    
                </tr>
                
                <tbody>
            </table>
        </div>
        
        <div class="searchName">
            <p>Search by name</p>
        </div>

        <div class="searchBox">
            
            <input class="searchInput"type="text" name="" placeholder="Search">
            <button class="searchButton" href="#">
                <i class="material-icons">
                    search
                </i>
            </button>
        </div>

        <div class="searchName2">
            <p>Search by address</p>
        </div>

        <div class="searchBox2">
            
            <input class="searchInput"type="text" name="" placeholder="Search">
            <button class="searchButton" href="#">
                <i class="material-icons">
                    search
                </i>
            </button>
        </div>
    </div>

    <div *ngIf="medcs"> 
  
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Grade</th>
                
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Content 1</td>
                    <td>Content 1</td>
                    <td>Content 1</td>
                    
                </tr>
                <tr>
                    <td>Content 2</td>
                    <td>Content 2</td>
                    <td>Content 2</td>
                
                </tr>
                <tr>
                    <td>Content 3</td>
                    <td>Content 3</td>
                    <td>Content 3</td>
                    
                </tr>
                <tr>
                    <td>Content 4</td>
                    <td>Content 4</td>
                    <td>Content 4</td>
                
                </tr>
                <tr>
                    <td>Content 5</td>
                    <td>Content 5</td>
                    <td>Content 5</td>
                    
                </tr>
                
                <tbody>
            </table>
        </div>   
    </div>


</body-->
<mat-drawer-container class="example-container" autosize style="position: absolute;right: 0px;left: 0px;bottom: 0px;top: 0px;" hasBackdrop="true" >
    <mat-drawer style="width: 15%; height: 100%;" #drawer mode ="side">
       <mat-action-list >
              <button mat-list-item  (click)="enablePharmacy()"><mat-icon> local_pharmacy</mat-icon> Search for pharmacies </button>
                <button mat-list-item  (click)="enableMedcs()"> <mat-icon> science</mat-icon>Search for medications </button>
         
      </mat-action-list>
    </mat-drawer>
      <mat-drawer-content>
        <mat-toolbar >
           
            <mat-toolbar-row>
                 <button mat-icon-button class="example-icon" (click)="drawer.toggle()" >
                    <mat-icon>menu</mat-icon>
                 </button>
                <h1>AtlasPharmacy</h1>
                <span class="menu-spacer"></span>
                <div class="divTool">
            
                </div>
                <span class="example-spacer"></span>
                <button mat-icon-button  [routerLink]="'/login'">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" class="tooltip" >
                        login <span class="tooltiptext">Login</span>
                    </mat-icon>
                </button>
                <button mat-icon-button [routerLink]="'/registration'" class="example-icon" aria-label="Example icon-button with share icon"  class="tooltipR">
                <mat-icon>app_registration <span class="tooltiptext">Registration</span>
                </mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>

        <div *ngIf="pharmacy"> 
  
            <div class="table-wrapper">
                <table class="fl-table" [dataSource]="pharmacies">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th mat-sort-header="grade">Grade</th>
                    
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let p of pharmacies" >
                        <td>{{p.name}}</td>
                        <td>{{p.address.street}}</td>
                        <td>{{p.average_grade}}</td>
                        
                    </tr>
                    
                    <tbody>
                </table>
            </div>
            
            <div class="searchName">
                <p>Search by name</p>
            </div>
    
            <div class="searchBox">
                
                <input class="searchInput"type="text" name="" placeholder="Search">
                <button class="searchButton" href="#">
                    <i class="material-icons">
                        search
                    </i>
                </button>
            </div>
    
            <div class="searchName2">
                <p>Search by address</p>
            </div>
    
            <div class="searchBox2">
                
                <input class="searchInput"type="text" name="" placeholder="Search">
                <button class="searchButton" href="#">
                    <i class="material-icons">
                        search
                    </i>
                </button>
            </div>
        </div>
    
        <div *ngIf="medcs"> 
      
            <div class="table-wrapper">
                <table class="fl-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Producer</th>
                        <th>Grade</th>
                    
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let m of medications">
                        <td>{{m.name}}</td>
                        <td>{{m.drugType}}</td>
                        <td>{{m.producer}}</td>
                        <td>grade 1</td>                   
                    </tr>
                    
                    
                    <tbody>
                </table>
            </div>   
        </div>



      </mat-drawer-content>
</mat-drawer-container>



  


