<body>
    <mat-drawer-container class="example-container"  autosize style="position: absolute;right: 0px;left: 0px;bottom: 0px;top: 0px; background: transparent;" hasBackdrop="true">
      <mat-drawer style="width: 20%; height: 100%; background-color: #385399;"  #drawer mode ="over">
         <mat-action-list>
          <button mat-list-item routerLink="/supplier" style="color: white;"> Home</button>
          <button mat-list-item routerLink="/supplier/allOrders" style="color: white;"> Write offers</button>
          <button mat-list-item routerLink='/supplier/allOffers' style="color: white;"> All offers</button>
          <button mat-list-item routerLink='/supplier/offers' style="color: white;"> Edit offers</button>
          <button mat-list-item routerLink='/searchPharmacies' style="color: white;"> Search pharmacies</button>
        </mat-action-list>
        <mat-action-list style="position: absolute; bottom: 1px;">
                <button style="color: white;" mat-list-item (click)="routeToProfile()"> Profile</button>
                <button style="color: white;" mat-list-item (click)="supplierLogout()"> Logout</button>
  
        </mat-action-list>
      </mat-drawer>
          <mat-drawer-content>
            <mat-toolbar color="primary">
              <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
              </button>
              <span>Supplier profile</span>
              <span class="example-spacer"></span>
            </mat-toolbar>
            <div style=" width: 100%; height: 100%; margin-top: 20px; justify-content: center;" *ngIf="!showmore">
              <div style="width:100%; height: 20%; margin-left:26%; justify-content: center; margin-bottom: 100px;"  *ngFor="let order of orders" >
                <mat-card style="height: fit-content; justify-content: center; width: 50%;" class="mat-elevation-z8" >
                  <mat-card-title style="text-align: center; margin-bottom: 10px; font-size: 20px;">
                    Order from: {{order.pharmacy.name}}, {{order.pharmacy.address.street}}, {{order.pharmacy.address.city.name}}, {{order.pharmacy.address.state.name}} 
                  </mat-card-title>
                  <mat-card-content>
                      <mat-grid-list cols="2" rowHeight="6:1" style="margin-left: 10px;">
                        <mat-grid-tile>
                          <p>Order due delivery: </p>
                        </mat-grid-tile>
                        <mat-grid-tile>
                        <p>{{order.dueDate | date:'MM.dd.y HH:mm' }}</p>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <button  style="float:right; position:relative; " mat-raised-button id='editProfile' (click)="showMoreInfo(order)" color="accent">Show more info</button>
                  </mat-card-content>
                </mat-card>
              </div>

            </div>
              <mat-card style="height: fit-content; width: 45%; margin-left: 4%; margin-top: 20px; justify-content: center; float:left" *ngIf="showmore">
                <mat-card-title style="margin-left: 45%;">
                  All orders
                </mat-card-title>
        
                  <div style="width: 100%; height: 100%;">

                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style=" width: 100%; margin-right: 10px;">
        
                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef> Medication </th>
                          <td mat-cell *matCellDef="let element" style="font-size:12px"> {{element.medication.name}} </td>
                        </ng-container>
                      
                        <!-- Weight Column -->
                        <ng-container matColumnDef="quantity">
                          <th mat-header-cell *matHeaderCellDef> Quantity </th>
                          <td mat-cell *matCellDef="let element" style="font-size:12px"> {{element.quantity}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                      <form [formGroup]="offerGroup">
                      <mat-grid-list cols="2" rowHeight="4:1" style="margin-left: 10px; position: relative;">
                        <mat-grid-tile>
                          <p>Offer price: </p>
                        </mat-grid-tile>
                        <mat-grid-tile>
                          <div class="inputField" >
                            <mat-form-field appearance="fill">
                                <input matInput id="price" formControlName="price">                   
                                <mat-error
                                    *ngIf="!offerGroup.get('price').valid && offerGroup.get('price').touched && offerGroup.get('price').errors['required']">
                                    Please enter price</mat-error>
                                    <mat-error
                                    *ngIf="!offerGroup.get('price').valid && offerGroup.get('price').touched && offerGroup.get('price').errors['pattern']">
                                    Please enter price in correct format</mat-error>
                            </mat-form-field>
                        </div>                         
                      </mat-grid-tile>
                        <mat-grid-tile>
                          <p>Offer delivery date: </p>
                        </mat-grid-tile>
                        <mat-grid-tile>
                          <mat-form-field color="accent" appearance="fill" id="dob-ff" style="width: 200px; font-size: 14px;">
                            <input matInput formControlName='delivery' [matDatepicker]="picker1" [min]="today" [max]="selectedOrder.dueDate"   style="width: 200px; font-size: 14px;">
                            <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
                            <mat-datepicker #picker1 ></mat-datepicker>
                          </mat-form-field>                        
                        </mat-grid-tile>
                        <!-- <mat-grid-tile>
                        <p hidden></p>
                        </mat-grid-tile>
                        <mat-grid-tile>
                        </mat-grid-tile> -->

                      
                      </mat-grid-list>
                      <button  style="float:left; position:relative; " mat-raised-button id='editProfile' (click)='back()' color="accent">Back</button>
                      <button  style="float:right; position:relative; " mat-raised-button id='editProfile' (click)='giveOffer()' color="accent">Give offer</button>

                    </form>
                </div>

              </mat-card>
              <mat-card style="height: fit-content; width: 45%; margin-left: 30px; margin-top: 20px; justify-content: center; float:left" *ngIf="showmore">
                <mat-card-title style="margin-left: 40%;">
                  Currently in storage
                </mat-card-title>
        
                  <div style="width: 100%; height: 100%;">

                    <table mat-table [dataSource]="dataSourceStorage" class="mat-elevation-z8" style=" width: 100%; margin-right: 10px;">
        
                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef> Medication </th>
                          <td mat-cell *matCellDef="let element" style="font-size:12px"> {{element.medication.name}} </td>
                        </ng-container>
                      
                        <!-- Weight Column -->
                        <ng-container matColumnDef="quantity">
                          <th mat-header-cell *matHeaderCellDef> Quantity </th>
                          <td mat-cell *matCellDef="let element" style="font-size:12px"> {{element.quantity}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                      
                </div>

              </mat-card>
      </mat-drawer-content>
  </mat-drawer-container>
  </body>
  