
body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: url("../assets/background.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat; /* Do not repeat the image */
  
}