<mat-drawer-container class="example-container" autosize style="position: absolute;right: 0px;left: 0px;bottom: 0px;top: 0px; background: transparent;" hasBackdrop="true" >
    <mat-drawer style="width: 20%; height: 100%; background-color: #385399;" #drawer mode ="side">
        <mat-action-list ><button mat-list-item routerLink="/dashboard">  
            <i class="material-icons">dashboard</i>
            <p class="list-p">Dashboard</p>
            </button>
            <button mat-list-item routerLink="/add-report">  
                    <i class="material-icons">alarm</i>
                    <p class="list-p">Counselings</p>
            </button>
            <button mat-list-item routerLink="/employee-calendar"> 
        
                <i class="material-icons">calendar_today</i>
                <p class="list-p">Calendar</p>
            </button>
            <button mat-list-item routerLink="/appointment-report"> 
            
                <i class="material-icons">article</i>
                <p class="list-p">Counseling reports</p>
            </button>
            <button mat-list-item routerLink="/patients-overview"> 
                
                <i class="material-icons">group</i>
                <p class="list-p">Patients</p>
            </button>
            <button mat-list-item routerLink="/employee-medications"> 
                
                <i class="material-icons">medication</i>
                <p class="list-p">Medications</p>
            </button>
        </mat-action-list>
        <mat-action-list style="position: absolute; width: 100%; bottom : 1px;">
        <button mat-list-item routerLink="/employee-profile"> 
              
                <i class="material-icons">person</i>
                <p class="list-p">Profile</p>
            </button>
            <button  mat-list-item (click)='logout()'> 
                <i class="material-icons">logout</i>
                <p class="list-p">Logout</p>
            </button>
          </mat-action-list>
    </mat-drawer>
      <mat-drawer-content>
        <mat-toolbar style="background-color: #385399;">
            <button mat-icon-button class="example-icon" (click)="drawer.toggle()" >
              <mat-icon>menu</mat-icon>
            </button>
            <span>Reports</span>
            <span class="example-spacer"></span>
          </mat-toolbar>

        
        <div>
        <mat-card style="height: fit-content; width: 1000px;">
            <mat-card-title>
                <mat-card-header>
                    <mat-label>Search users</mat-label>
                </mat-card-header>
            </mat-card-title>
            <mat-card-content style="margin-top: 30px; margin-left: 40px; display: flex;">
                
            <form [formGroup]="searchUsersForm">
                <mat-form-field class="example-full-width">
                    <mat-label>By name or surname</mat-label>
                    <input matInput type="search" formControlName="name" placeholder="Name and surname">
                    <mat-error
                            *ngIf="!searchUsersForm.get('name').valid && searchUsersForm.get('name').touched && searchUsersForm.get('name').errors['required']">
                            Minimum 8 characters</mat-error>
                            <mat-error
                            *ngIf="!searchUsersForm.get('name').valid && searchUsersForm.get('name').touched && searchUsersForm.get('name').errors['pattern']">
                            Minimum 8 characters</mat-error>
                </mat-form-field>
                <div style="display: flex;">
                <div style="position: relative; bottom: 5px; left: 0px;">
                    <button mat-flat-button color="primary" style="margin-right: 10px;" (click)="clearSearch()">Cancel search</button>
                </div>
                <div style="position: relative; bottom: 5px; left: 0px;">
                    <button mat-flat-button color="primary" style="" (click)="searchUsers()">Search</button>
                </div>
            </div>
            </form>
            
        </mat-card-content>
        </mat-card>

        <div *ngFor="let u of users">
            <mat-card style="height: fit-content; width: 1000px;">
                <mat-card-title>
                    <mat-card-header>
                        <mat-label>{{u.name}} {{u.surname}}</mat-label>
                    </mat-card-header>
                </mat-card-title> 
            </mat-card>
        </div>
    </div>
      </mat-drawer-content>
</mat-drawer-container>