<mat-drawer-container class="example-container" hasBackdrop="true">
    <mat-drawer style="width: 20%;" #drawer mode ="over">
       <mat-action-list>
        <button mat-list-item routerLink="/admin/registerPharmacy"> Register pharmacy </button>
        <button mat-list-item (click)="registerDermatologist()"> Register dermatologist </button>
        <button mat-list-item routerLink="/admin/registerSupplier"> Register supplier </button>
        <button mat-list-item (click)="operationsWithDrugs()"> Drugs</button>
        <button mat-list-item (click)="respondToComplaints()"> Answer to complaints</button>
        <button mat-list-item routerLink="/admin/defineLoyalty"> Define loyalty program</button>
        <button mat-list-item routerLink="/admin/addAdmin"> Add administrator</button>

      </mat-action-list>
      <mat-action-list style="position: absolute; bottom: 1px;">
              <button  mat-list-item routerLink="/admin"> Profile</button>
              <button  mat-list-item (click)="adminLogout()"> Logout</button>

      </mat-action-list>
    </mat-drawer>
        <mat-drawer-content>
          <mat-toolbar color="accent">
            <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
            <span>System administrator profile</span>
            <span class="example-spacer"></span>
          </mat-toolbar>
          <mat-card>
            <form [formGroup]="addAdminForm" (ngSubmit)="addAdmin()">
              <mat-grid-list cols="2" rowHeight="7:1" style="margin-left: 10px;">
                <mat-grid-tile>
                  <label>Name:</label>
                </mat-grid-tile>
                <mat-grid-tile>
                  <div class="inputField">
                    <mat-form-field appearance="fill" id="name-ff">
                        <mat-label>Name*</mat-label>
                        <input matInput id="name" placeholder="Name" name="name-ff" 
                            formControlName="name">
                        <!-- <mat-error
                            *ngIf="!addAdminForm.get('name').valid && addAdminForm.get('name').touched && addAdminForm.get('name').errors['required']">
                            Please enter name</mat-error> -->
                    </mat-form-field>
                </div>                  
              </mat-grid-tile>
              <mat-grid-tile>
                <label>Surname:</label>
              </mat-grid-tile>
              <mat-grid-tile>   
                <div class="inputField">
                  <mat-form-field appearance="fill" id="surname-ff">
                      <mat-label>Surname*</mat-label>
                      <input matInput id="surname" placeholder="Surname" name="surname-ff" formControlName="surname">                   
                      <!-- <mat-error
                          *ngIf="!addAdminForm.get('surname').valid && addAdminForm.get('surname').touched && addAdminForm.get('surname').errors['required']">
                          Please enter surname</mat-error> -->
                  </mat-form-field>
              </div>             
              </mat-grid-tile>

              <mat-grid-tile>
                <label>Gender:</label>
              </mat-grid-tile>
              <mat-grid-tile>
                <div class="inputField">
                
                  <mat-radio-group name="gender" formControlName='gender' [(ngModel)]="selectedGender" required>
                      <mat-radio-button value="Female" style="font-size:20px;margin-right:20px">Female</mat-radio-button>
                      <mat-radio-button value="Male" style="font-size:20px">Male</mat-radio-button>
                  </mat-radio-group>
                  <!-- <mat-error
                  *ngIf="!addAdminForm.get('gender').valid && addAdminForm.get('gender').touched && addAdminForm.get('gender').errors['required']">
                  Please enter address</mat-error> -->
              </div>
              </mat-grid-tile>
              <mat-grid-tile>
                <label>Birth date:</label>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field color="accent" appearance="fill" id="dob-ff">
                  <mat-label style="font-size:18px;">Birth date</mat-label>
                  <input matInput formControlName='dob' [matDatepicker]="picker1" style="font-size:18px;" placeholder="Birth date">
                  <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
                  <mat-datepicker #picker1 ></mat-datepicker>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                <label>Address:</label>
              </mat-grid-tile>
              <mat-grid-tile>
                <div class="inputField">
                  <mat-form-field appearance="fill" id="address-ff">
                      <mat-label>Address*</mat-label>
                      <input matInput id="address" placeholder="Address" name="address-ff"  formControlName="address">                   

                      <!-- <mat-error
                          *ngIf="!addAdminForm.get('address').valid && addAdminForm.get('address').touched && addAdminForm.get('address').errors['required']">
                          Please enter address</mat-error> -->
                  </mat-form-field>
              </div>
              </mat-grid-tile>

              <mat-grid-tile>
                <label>Telephone:</label>
              </mat-grid-tile>
              <mat-grid-tile>
                <div class="inputField">
                <mat-form-field appearance="fill" id="telephone-ff">
                  <mat-label>Telephone*</mat-label>
                  <input matInput id="telephone" placeholder="Telephone"  name="telephone-ff"
                      formControlName="telephone">
                  <!-- <mat-error
                      *ngIf="!addAdminForm.get('telephone').valid && addAdminForm.get('telephone').touched && addAdminForm.get('telephone').errors['required']">
                      Please enter telephone</mat-error> -->
              </mat-form-field>
              </div>
              </mat-grid-tile>

              <mat-grid-tile>
                <label>Email:</label>
              </mat-grid-tile>
              <mat-grid-tile>
                <div class="inputField">

                <mat-form-field appearance="fill" id="telephone-ff">
                  <mat-label>Email*</mat-label>
                  <input matInput id="mail" placeholder="Email" name="email-ff"
                      formControlName="mail">
                  <!-- <mat-error
                      *ngIf="!addAdminForm.get('mail').valid && addAdminForm.get('mail').touched && addAdminForm.get('mail').errors['required']">
                      Please enter telephone</mat-error> -->
                </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile>
                <label>New password:</label>
              </mat-grid-tile>
              <mat-grid-tile>   
                <div class="inputField">
                  <mat-form-field appearance="fill" id="password-ff">
                      <mat-label>New password*:</mat-label>
                      <input matInput type="password"  id="newpassword" placeholder="New Password" name="password-ff" formControlName="newpassword">
                      <!-- <mat-error
                          *ngIf="!addAdminForm.get('newpassword').valid && addAdminForm.get('newpassword').touched && addAdminForm.get('newpassword').errors['required']">
                          Please enter new password</mat-error>-->
                  </mat-form-field> 
                </div>               
              </mat-grid-tile>

              <mat-grid-tile>
                <label>Confirm password:</label>
              </mat-grid-tile> 
              <mat-grid-tile>
                <div class="inputField">
                  <mat-form-field appearance="fill" id="password-ff">
                      <mat-label>Confirm password*:</mat-label>
                      <input matInput type="password"  id="confirmpassword" placeholder="Confirm Password" name="password-ff" formControlName="confirmpassword">
                      <!-- <mat-error
                          *ngIf="!addAdminForm.get('confirmpassword').valid && addAdminForm.get('confirmpassword').touched && addAdminForm.get('confirmpassword').errors['required']">
                          Please enter again new password</mat-error> -->
                  </mat-form-field>
                </div>  
              </mat-grid-tile> 
              </mat-grid-list>
              <button style="float:right; position:relative; margin-right: 10px;" mat-raised-button id='editProfile' (click)='add()'  color="accent">Add admin</button>

            </form>
          </mat-card>

    </mat-drawer-content>
</mat-drawer-container>