<mat-drawer-container class="example-container" autosize style="position: absolute;right: 0px;left: 0px;bottom: 0px;top: 0px; background: transparent;" hasBackdrop="true">
  <mat-drawer style="width: 20%; height: 100%; background-color: #385399;" #drawer mode ="over">
     <mat-action-list>
      <button mat-list-item routerLink="/admin" style="color: white;"> Home </button>
      <button mat-list-item routerLink="/admin/registerPharmacy" style="color: white;"> Register pharmacy </button>
      <button mat-list-item routerLink="/admin/registerPharmacyAdmin" style="color: white;"> Register pharmacy admin</button>
      <button mat-list-item routerLink='/admin/registerDermatologist' style="color: white;"> Register dermatologist </button>
      <button mat-list-item routerLink="/admin/registerSupplier" style="color: white;"> Register supplier </button>
      <button mat-list-item routerLink="/admin/addDrug" style="color: white;"> Register medication</button>
      <button mat-list-item routerLink="/admin/addAdmin" style="color: white;"> Register system administrator</button>
      <button mat-list-item routerLink="/admin/answerComplaints" style="color: white;"> Answer to complaints</button>
      <button mat-list-item routerLink="/admin/defineLoyalty" style="color: white;"> Define loyalty program</button>
      <button mat-list-item routerLink="/searchMedications" style="color: white;"> Search medications</button>
      <button mat-list-item  routerLink="/searchPharmacies" style="color: white;"> Search pharmacies</button>
    </mat-action-list>
    <mat-action-list style="position: absolute; bottom: 1px;">
            <button style="color: white;" routerLink="/admin" mat-list-item> Profile</button>
            <button style="color: white;" mat-list-item (click)="adminLogout()"> Logout</button>

    </mat-action-list>
    </mat-drawer>
        <mat-drawer-content>
          <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
            <span>System administrator profile</span>
            <span class="example-spacer"></span>
          </mat-toolbar>
          <mat-card class="mat-elevation-z8">
            <form [formGroup]="addAdminForm" (ngSubmit)="addAdmin()">
              <mat-grid-list cols="2" rowHeight="7:1" style="margin-left: 10px;">
                <mat-grid-tile>
                  <label>Name:</label>
                </mat-grid-tile>
                <mat-grid-tile>
                  <div class="inputField">
                    <mat-form-field appearance="fill" id="name-ff">
                        <mat-label>Name*</mat-label>
                        <input matInput id="name" placeholder="Name" name="name-ff" 
                            formControlName="name">
                        <mat-error
                            *ngIf="!addAdminForm.get('name').valid && addAdminForm.get('name').touched && addAdminForm.get('name').errors['required']">
                            Please enter name</mat-error>
                          <mat-error
                            *ngIf="!addAdminForm.get('name').valid && addAdminForm.get('name').touched && addAdminForm.get('name').errors['pattern']">
                            Please enter name in correct format</mat-error>
                    </mat-form-field>
                </div>                  
              </mat-grid-tile>
              <mat-grid-tile>
                <label>Surname:</label>
              </mat-grid-tile>
              <mat-grid-tile>   
                <div class="inputField">
                  <mat-form-field appearance="fill" id="surname-ff">
                      <mat-label>Surname*</mat-label>
                      <input matInput id="surname" placeholder="Surname" name="surname-ff" formControlName="surname">                   
                      <mat-error
                      *ngIf="!addAdminForm.get('surname').valid && addAdminForm.get('surname').touched && addAdminForm.get('surname').errors['required']">
                      Please enter surname</mat-error>
                    <mat-error
                      *ngIf="!addAdminForm.get('surname').valid && addAdminForm.get('surname').touched && addAdminForm.get('surname').errors['pattern']">
                      Please enter surname in correct format</mat-error>
                  </mat-form-field>
              </div>             
              </mat-grid-tile>

              <mat-grid-tile>
                <label>Gender:</label>
              </mat-grid-tile>
              <mat-grid-tile>
                <div class="inputField">

                  <mat-radio-group name="gender" formControlName='gender' [(ngModel)]="selectedGender" required>
                    <mat-radio-button value="FEMALE" style="font-size:20px; margin-left: 20px;">Female</mat-radio-button>
                    <mat-radio-button value="MALE" style="font-size:20px;margin-left: 20px;">Male</mat-radio-button>
                    <mat-radio-button value="OTHER" style="font-size:20px;margin-left: 20px;">other</mat-radio-button>
                </mat-radio-group>
                  <mat-error
                  *ngIf="!addAdminForm.get('gender').valid && addAdminForm.get('gender').touched && addAdminForm.get('gender').errors['required']">
                  Please enter gender</mat-error>
              </div>
              </mat-grid-tile>


              <mat-grid-tile>
                <label>Birth date:</label>
              </mat-grid-tile>
              <mat-grid-tile>
                  <mat-form-field color="accent" appearance="fill" id="dob-ff">
                    <input matInput formControlName='dob' [max]="maxDateOfBirth" [min]="minDateOfBirth" [(ngModel)]="selectedDate" style="font-size:18px;" placeholder="Birth date" [matDatepicker]="dp3" disabled>
                    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                  </mat-form-field>
                  <mat-error
                  *ngIf="!addAdminForm.get('dob').valid && addAdminForm.get('dob').touched && addAdminForm.get('dob').errors['required']">
                  Please enter date of birth</mat-error>
              </mat-grid-tile>

              <mat-grid-tile>
                <label>Address:</label>
              </mat-grid-tile>
              <mat-grid-tile>
                <div class="inputField">
                  <app-google-places> </app-google-places>
                </div>
              </mat-grid-tile>

              <mat-grid-tile>
                <label>Telephone:</label>
              </mat-grid-tile>
              <mat-grid-tile>
                <div class="inputField">
                <mat-form-field appearance="fill" id="telephone-ff">
                  <mat-label>Telephone*</mat-label>
                  <input matInput id="telephone" placeholder="Telephone"  name="telephone-ff"
                      formControlName="telephone">
                  <mat-error *ngIf="!addAdminForm.get('telephone').valid && addAdminForm.get('telephone').touched && addAdminForm.get('telephone').errors['required']">
                      Please enter telephone</mat-error>
                  <mat-error *ngIf="!addAdminForm.get('telephone').valid && addAdminForm.get('telephone').touched && addAdminForm.get('telephone').errors['pattern']">
                      Please enter telephone in correct format</mat-error>
              </mat-form-field>
              </div>
              </mat-grid-tile>

              <mat-grid-tile>
                <label>Email:</label>
              </mat-grid-tile>
              <mat-grid-tile>
                <div class="inputField">

                <mat-form-field appearance="fill" id="telephone-ff">
                  <mat-label>Email*</mat-label>
                  <input matInput id="mail" placeholder="Email" name="email-ff"
                      formControlName="mail">
                  <mat-error *ngIf="!addAdminForm.get('mail').valid && addAdminForm.get('mail').touched && addAdminForm.get('mail').errors['required']">
                      Please enter email</mat-error>
                      <mat-error *ngIf="!addAdminForm.get('mail').valid && addAdminForm.get('mail').touched && addAdminForm.get('mail').errors['email']">
                        Please enter email in correct format</mat-error>
                </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile>
                <label>New password:</label>
              </mat-grid-tile>
              <mat-grid-tile>   
                <div class="inputField">
                  <mat-form-field appearance="fill" id="password-ff">
                      <mat-label>New password*:</mat-label>
                      <input matInput type="password"  id="password" placeholder="New Password" name="password-ff" formControlName="password">
                      <mat-error
                          *ngIf="!addAdminForm.get('password').valid && addAdminForm.get('password').touched && addAdminForm.get('password').errors['required']">
                          Please enter password</mat-error>
                          <mat-error
                          *ngIf="!addAdminForm.get('password').valid && addAdminForm.get('password').touched && addAdminForm.get('password').errors['minLength']">
                          Password has to be min 8 characters long</mat-error>
                  </mat-form-field> 
                </div>               
              </mat-grid-tile>

              <mat-grid-tile>
                <label>Confirm password:</label>
              </mat-grid-tile> 
              <mat-grid-tile>
                <div class="inputField">
                  <mat-form-field appearance="fill" id="password-ff">
                      <mat-label>Confirm password*:</mat-label>
                      <input matInput type="password"  id="confirmpassword" placeholder="Confirm Password" name="password-ff" formControlName="confirmpassword">
                      <mat-error
                          *ngIf="!addAdminForm.get('confirmpassword').valid && addAdminForm.get('confirmpassword').touched && addAdminForm.get('confirmpassword').errors['required']">
                          Please confirm password</mat-error>
                          <mat-error
                          *ngIf="!addAdminForm.get('confirmpassword').valid && addAdminForm.get('confirmpassword').touched && addAdminForm.get('confirmpassword').errors['minLength']">
                          Password has to be min 8 characters long</mat-error>
                  </mat-form-field>
                </div>  
              </mat-grid-tile> 
              </mat-grid-list>
              <button style="float:right; position:relative; margin-right: 10px;" mat-raised-button id='editProfile' color="accent" [disabled]="!addAdminForm.valid">Add admin</button>

            </form>
          </mat-card>

    </mat-drawer-content>
</mat-drawer-container>