
          <!--mat-toolbar color="accent">          
            <button mat-icon-button>
                <mat-icon  aria-hidden="false" aria-label="Example home icon" class="tooltip">
                    login <span class="tooltiptext">Logout</span>
                </mat-icon>
            </button>
            <span style="margin-left: 40%;">Registered user profile</span>
            <span class="example-spacer"></span>
          </mat-toolbar-->

            <mat-toolbar color="primary">
              <mat-toolbar-row>
                <button mat-icon-button class="example-icon" (click)="backToolBar()" aria-label="Example icon-button with menu icon">
                  <mat-icon class="tooltip">arrow_back <span class="tooltiptext" style="margin-left: 10px;">Back</span></mat-icon>
                </button>
                <span style="margin-left: 40%;">Registered patient profile</span>
                <span class="example-spacer"></span>
            
                <button mat-icon-button>
                    <mat-icon  aria-hidden="false" aria-label="Example home icon" class="tooltip">
                        logout <span class="tooltiptext">Logout</span>
                    </mat-icon>
                </button>
                
              </mat-toolbar-row>         
            </mat-toolbar>
        

          <mat-card *ngIf="profile" style="height: 80%;">
            <mat-card-content>
              <mat-grid-list cols="2" rowHeight="7:1" style="margin-left: 50px;" >
                <mat-grid-tile>
                  <label>Name:</label>
                </mat-grid-tile>
                <mat-grid-tile>
                  <p>{{patient.name}}</p>
                </mat-grid-tile>
  
                <mat-grid-tile>
                  <label>Surname:</label>
                </mat-grid-tile>
                <mat-grid-tile>                
                  <p>{{patient.surname}}</p>
                </mat-grid-tile>
  
                <mat-grid-tile>
                  <label>Gender:</label>
                </mat-grid-tile>
                <mat-grid-tile>
                  <p *ngIf="patient.gender == 'MALE'">Muško</p>
                  <p *ngIf="patient.gender == 'FEMALE'">Žensko</p>
                  <p *ngIf="patient.gender == 'OTHERS'">Ostalo</p>
                </mat-grid-tile>
  
                <mat-grid-tile>
                  <label>Address:</label>
                </mat-grid-tile>
                <mat-grid-tile>
                  <p>{{patient.address.street}}, {{patient.address.city.name}}, {{patient.address.state.name}} </p>
                </mat-grid-tile>
  
                <mat-grid-tile>
                  <label>Telephone:</label>
                </mat-grid-tile>
                <mat-grid-tile>
                  <p>{{patient.phoneNumber}}</p>
                </mat-grid-tile>
  
                <mat-grid-tile>
                  <label>Email:</label>
                </mat-grid-tile>
                <mat-grid-tile>
                  <p>{{patient.email}}</p>
                </mat-grid-tile>
                <mat-grid-tile>
                  <label>Birth date:</label>
                </mat-grid-tile>
                <mat-grid-tile>
                  <p>{{patient.dateOfBirth | date :  "dd.MM.y" }}</p>
                </mat-grid-tile>
                <mat-grid-tile>
                  <label>Allergies:</label>               
                </mat-grid-tile>  
                <mat-grid-tile>
                  <mat-form-field>
                    <mat-select placeholder="Allergies" [formControl]="allergies" [(value)]="selectedAllergies" multiple>
                      <mat-option *ngFor="let allergy of alleallIngredientsrgiesList" [disabled]="true" [value]="allergies">{{allergy}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>            
              </mat-grid-list>
            </mat-card-content>
            <mat-card-actions>
              <button style="float:right; position:relative;" mat-raised-button id='editProfile' (click)='editProfile()' color="accent">Edit</button>
              <button style="float:left; position:relative;" mat-raised-button id='LoyaltyProgram' (click)='loyaltyClick()'  color="accent">Loyalty program</button>
              <button style="float:left; position:relative;" mat-raised-button id='LoyaltyProgram' routerLink="/userProfile/complain"  color="accent">Complain</button>
              <button style="float:left; position:relative;" mat-raised-button id='drugReservation'  color="accent">Drug reservations</button>
            </mat-card-actions>

          </mat-card>

          <mat-card id="mat-card-loy" *ngIf="loyalty">
            <mat-card-content>
              <form [formGroup]="loyaltyForm" (ngSubmit)="loyaltyClick">
                <mat-grid-list cols="2" rowHeight="7:1" style="margin-left: 10px;">
                  <mat-grid-tile>
                    <label>Number of points:</label>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <p>{{points}}</p>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <label>Category of program:</label>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <p>{{categoryProgram}}</p>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <label>Additional privilegies:</label>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <p><label>Ubaci ovde neku listu</label></p>
                  </mat-grid-tile>
                </mat-grid-list>
                <mat-card-actions>
                  <button style="float:left; position:relative;" mat-raised-button (click)='backClick()' color="accent">Back on profile</button>
                </mat-card-actions>
                

              </form>
            </mat-card-content>
          </mat-card>


          <mat-card *ngIf="edit" style="height: 80%;">  
            <mat-card-content>
              <form [formGroup]="editProfileForm" (ngSubmit)="editProfile()">
                <mat-grid-list cols="2" rowHeight="7:1" style="margin-left: 10px;">

                  <mat-grid-tile>
                    <label>Name:</label>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div class="inputField">
                      <mat-form-field appearance="fill" id="name-ff">
                          <mat-label>Name*</mat-label>
                          <input matInput id="name" placeholder="Name" name="name-ff" value="{{name}}"
                              formControlName="name">
                          <mat-error
                              *ngIf="!editProfileForm.get('name').valid && editProfileForm.get('name').touched && editProfileForm.get('name').errors['required']">
                              Please enter name</mat-error>
                      </mat-form-field>
                    </div>                  
                  </mat-grid-tile>
    
                  <mat-grid-tile>
                    <label>Surname:</label>
                  </mat-grid-tile>
                  <mat-grid-tile>   
                    <div class="inputField">
                      <mat-form-field appearance="fill" id="surname-ff">
                          <mat-label>Surname*</mat-label>
                          <input matInput id="surname" placeholder={{surname}} name="surname-ff" formControlName="surname">                   
                          <mat-error
                              *ngIf="!editProfileForm.get('surname').valid && editProfileForm.get('surname').touched && editProfileForm.get('surname').errors['required']">
                              Please enter surname</mat-error>
                      </mat-form-field>
                  </div>             
                  </mat-grid-tile>
    
                  <mat-grid-tile>
                    <label>Gender:</label>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div class="inputField">
                    
                      <mat-radio-group name="gender" formControlName='gender' [(ngModel)]="selectedGender" required>
                          <mat-radio-button value="Female" style="font-size:20px;margin-right:20px">Female</mat-radio-button>
                          <mat-radio-button value="Male" style="font-size:20px">Male</mat-radio-button>
                      </mat-radio-group>
                      <mat-error
                      *ngIf="!editProfileForm.get('gender').valid && editProfileForm.get('gender').touched && editProfileForm.get('gender').errors['required']">
                      Please enter your gender</mat-error>
                  </div>
                  </mat-grid-tile>
    
                  <mat-grid-tile>
                    <label>Address:</label>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div class="inputField">
                      <!--mat-form-field appearance="fill" id="address-ff">
                          <mat-label>Address*</mat-label>
                          <input matInput id="address" placeholder="Address" name="address-ff" value="{{address}}" formControlName="address">                   

                          <mat-error
                              *ngIf="!editProfileForm.get('address').valid && editProfileForm.get('address').touched && editProfileForm.get('address').errors['required']">
                              Please enter address</mat-error>
                      </mat-form-field-->
                      <app-google-places> </app-google-places>
                  </div>
                  </mat-grid-tile>
    
                  <mat-grid-tile>
                    <label>Telephone:</label>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <mat-form-field appearance="fill" id="telephone-ff">
                      <mat-label>Telephone*</mat-label>
                      <input matInput id="telephone" placeholder="Telephone" value="{{phone}}" name="telephone-ff"
                          formControlName="telephone">
                      <mat-error
                          *ngIf="!editProfileForm.get('telephone').valid && editProfileForm.get('telephone').touched && editProfileForm.get('telephone').errors['required']">
                          Please enter telephone</mat-error>
                  </mat-form-field>
                  </mat-grid-tile>
    
                  <mat-grid-tile>
                    <label>Email:</label>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <p>{{mail}}</p>
                  </mat-grid-tile>
    
                  <mat-grid-tile>
                    <label>Birth date:</label>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <mat-form-field color="accent" appearance="fill" id='dob-ff'>
                      <mat-label>Birth date</mat-label>
                      <input matInput [matDatepicker]="picker1" [(ngModel)]="updateDate" formControlName="selectedDate" style="font-size:18px">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                  </mat-grid-tile>

                  <mat-grid-tile>
                    <label>Allergies:</label>               
                  </mat-grid-tile>  
                  <mat-grid-tile>
                    <mat-form-field>
                      <mat-select placeholder="Allergies"  (openedChange)="comboChange($event)" [formControl]="allergies" multiple>
                        <mat-option *ngFor="let allergy of allIngredients" [value]="allergy">{{allergy.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>        
                  </mat-grid-tile>  
                  
              

                </mat-grid-list>


                <button style="float:left; position:relative;" mat-raised-button id='cancelEditProfile' (click)='cancelEdit()'  color="accent">Cancel</button>

                <button style="float:right; position:relative;" mat-raised-button id='editProfile' (click)='confirmEditButton()'color="accent">Confirm</button>
                <button style="float:right; position:relative; margin-right: 10px;" mat-raised-button id='editProfile' (click)='changePasswordFunction()' color="accent">Change password</button>

              </form>
            </mat-card-content>            
              
          </mat-card>
          <mat-card *ngIf="changePassword">
            <form [formGroup]="changePasswordForm" (ngSubmit)="submitChangePassword()">
              <mat-grid-list cols="2" rowHeight="5:1" style="margin-left: 10px;">

            
 
                <mat-grid-tile>
                  <label>New password:</label>
                </mat-grid-tile>
                <mat-grid-tile>   
                  <div class="inputField">
                    <mat-form-field appearance="fill" id="password-ff">
                        <mat-label>New password*:</mat-label>
                        <input matInput type="password"  id="newpassword" placeholder="New Password" name="password-ff" formControlName="newpassword">
                        <mat-error
                            *ngIf="!changePasswordForm.get('newpassword').valid && changePasswordForm.get('newpassword').touched && changePasswordForm.get('newpassword').errors['required']">
                            Please enter new password</mat-error>
                    </mat-form-field>
                  </div>               
                </mat-grid-tile>
  
                <mat-grid-tile>
                  <label>Confirm password:</label>
                </mat-grid-tile>
                <mat-grid-tile>
                  <div class="inputField">
                    <mat-form-field appearance="fill" id="password-ff">
                        <mat-label>Confirm password*:</mat-label>
                        <input matInput type="password"  id="confirmpassword" placeholder="Confirm Password" name="password-ff" formControlName="confirmpassword">
                        <mat-error
                            *ngIf="!changePasswordForm.get('confirmpassword').valid && changePasswordForm.get('confirmpassword').touched && changePasswordForm.get('confirmpassword').errors['required']">
                            Please enter again new password</mat-error>
                    </mat-form-field>
                  </div>  
                </mat-grid-tile> 
                    
                <mat-grid-tile>
                  <p hidden></p>
                </mat-grid-tile>
                <mat-grid-tile>
                  <p hidden></p>

                </mat-grid-tile>
  
                <mat-grid-tile>
                  <p hidden></p>

                </mat-grid-tile>
                <mat-grid-tile>
                  <p hidden></p>
                </mat-grid-tile>
                
                <mat-grid-tile>
                  <p hidden></p>

                </mat-grid-tile>
                <mat-grid-tile>
                  <p hidden></p>
                </mat-grid-tile>

                <mat-grid-tile>
                  <p hidden></p>

                </mat-grid-tile>
              </mat-grid-list>
   

                  <button style="float:left; position:relative; " mat-raised-button id='editProfile' (click)='cancelEdit()'  color="accent">Cancel</button>
                  <button style="float:right; position:relative; margin-right: 10px;" mat-raised-button id='editProfile' (click)='submitChangePassword()'  color="accent">ChangePassword</button>

              </form>

            </mat-card>


