<mat-drawer-container class="example-container" hasBackdrop="true">
  <mat-drawer style="width: 20%;" #drawer mode ="over">
    <mat-action-list>
      <button  mat-list-item routerLink="/pharmacyAdmin-profile">My profile</button>
      <button mat-list-item routerLink="/pharmacy-profile"> Pharmacy profile </button>
      <button mat-list-item routerLink="/business-report"> Business reports </button>
      <button mat-list-item routerLink="/medication-order-offers">Medication orders and offers</button>
      <button mat-list-item routerLink="/drug-inquiries">Drug inquiry reports</button>
      <button mat-list-item routerLink="/vacation-requests"> Vacation requests </button>
      <button mat-list-item routerLink="/pharmacist-search-and-filter">Pharmacists</button>
      <button mat-list-item routerLink="/dermatologist-search-and-filter"> Dermatologists </button>
    </mat-action-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar style="background-color: #385399;">
      <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
        <mat-icon style="color:white;">menu</mat-icon>
      </button>
      <span style="color:white;">Admin profile</span>
      <span class="example-spacer"></span>
      <span class="example-spacer">
        <button *ngIf="checkLoggedInUser()" style="margin-left:1000px;margin-top:10px;" mat-icon-button (click)="logout()" class="example-icon" aria-label="Example icon-button with share icon"  class="tooltipR">
                    <mat-icon style="color:white;">logout <span class="tooltiptext"></span>
                    </mat-icon>
                    </button>
      </span>
    </mat-toolbar>

    <mat-card *ngIf="profile" style="height:fit-content;">
      <mat-grid-list cols="2" rowHeight="5:1" style="margin-left: 10px;" >
        <mat-grid-tile>
          <label>Name:</label>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>{{pharmacyAdmin.name}}</p>
        </mat-grid-tile>

        <mat-grid-tile>
          <label>Surname:</label>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>{{pharmacyAdmin.surname}}</p>
        </mat-grid-tile>

        <mat-grid-tile>
          <label>Gender:</label>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>{{pharmacyAdmin.gender}}</p>
        </mat-grid-tile>

        <mat-grid-tile>
          <label>Address:</label>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>{{pharmacyAdmin.address.street}}, {{pharmacyAdmin.address.city.name}}</p>
        </mat-grid-tile>

        <mat-grid-tile>
          <label>Telephone:</label>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>{{pharmacyAdmin.phoneNumber}}</p>
        </mat-grid-tile>

        <mat-grid-tile>
          <label>Email:</label>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>{{pharmacyAdmin.email}}</p>
        </mat-grid-tile>

      </mat-grid-list>
      <button style="float:right; position:relative;background-color: #385399;" mat-raised-button  (click)='editProfile()'color="accent" >Edit</button>
    </mat-card>

    <mat-card *ngIf="edit">
      <form [formGroup]="editProfileForm" (ngSubmit)="editProfile()">
        <mat-grid-list cols="2" rowHeight="5:1" style="margin-left: 10px;">

          <mat-grid-tile>
            <label>Name:</label>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="fill" id="name-ff">
              <mat-label>Name*</mat-label>
              <input matInput id="name" placeholder="Name" value="{{pharmacyAdmin.name}}" name="name-ff"
                     formControlName="name">
              <mat-error
                *ngIf="!editProfileForm.get('name').valid && editProfileForm.get('name').touched && editProfileForm.get('name').errors['required']">
                Please enter name</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <label>Surname:</label>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="fill" id="surname-ff">
              <mat-label>Surname*</mat-label>
              <input matInput id="surname" placeholder="Surname" value="{{pharmacyAdmin.surname}}" name="surname-ff"
                     formControlName="surname">
              <mat-error
                *ngIf="!editProfileForm.get('surname').valid && editProfileForm.get('surname').touched && editProfileForm.get('surname').errors['required']">
                Please enter surname</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <label>Gender:</label>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="inputField">

              <mat-radio-group name="gender" formControlName='gender' [(ngModel)]="selectedGender" required>
                <mat-radio-button value="FEMALE" style="font-size:20px;margin-right:20px">Female</mat-radio-button>
                <mat-radio-button value="MALE" style="font-size:20px">Male</mat-radio-button>
                <mat-radio-button value="OTHER" style="font-size:20px;margin-left: 10px;" >Other</mat-radio-button>
              </mat-radio-group>
              <mat-error
                *ngIf="!editProfileForm.get('gender').valid && editProfileForm.get('gender').touched && editProfileForm.get('gender').errors['required']">
                Please enter address</mat-error>
            </div>
          </mat-grid-tile>

        <mat-grid-tile>
          <label>Address:</label>
         </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="fill" id="address-ff">
              <mat-label>Address*</mat-label>
              <app-google-places style="background:transparent;border:none;">
                <input matInput id="address" placeholder="Address" value="{{pharmacyAdmin.address}}" name="address-ff"></app-google-places>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <label>Telephone:</label>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="fill" id="telephone-ff">
              <mat-label>Telephone*</mat-label>
              <input matInput id="telephone" placeholder="Telephone" value="{{pharmacyAdmin.phoneNumber}}" name="telephone-ff"
                     formControlName="telephone" required type="number">
              <mat-error
                *ngIf="!editProfileForm.get('telephone').valid && editProfileForm.get('telephone').touched && editProfileForm.get('telephone').errors['required']">
                Please enter telephone</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <label>Email:</label>
          </mat-grid-tile>
          <mat-grid-tile>
            <p>{{pharmacyAdmin.email}}</p>
          </mat-grid-tile>

        </mat-grid-list>


        <button style="float:left; position:relative;background-color: #385399;" mat-raised-button  (click)='cancelEdit()'  color="accent">Cancel</button>

        <button style="float:right; position:relative;background-color: #385399;" mat-raised-button  (click)='editProfile()'color="accent" *ngIf="!edit">Edit</button>
        <button style="float:right; position:relative;background-color: #385399;" mat-raised-button  (click)='editSubmited()'color="accent" *ngIf="edit">Submit changes</button>
        <button style="float:right; position:relative; margin-right: 10px;background-color: #385399;" mat-raised-button (click)='changePasswordFunction()' color="accent" *ngIf="!edit">ChangePassword</button>

      </form>
    </mat-card>
    <mat-card *ngIf="changePassword">
      <form [formGroup]="changePasswordForm" (ngSubmit)="submitChangePassword()">
        <mat-grid-list cols="2" rowHeight="6:1" style="margin-left: 10px;">

          <mat-grid-tile>
            <label>Old password:</label>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="inputField">
              <mat-form-field appearance="fill" id="password-ff">
                <mat-label>Old password*:</mat-label>
                <input matInput type="password" id="oldpassword" placeholder="Old Password" name="password-ff" formControlName="oldpassword">
                <mat-error
                  *ngIf="!changePasswordForm.get('oldpassword').valid && changePasswordForm.get('oldpassword').touched && changePasswordForm.get('oldpassword').errors['required']">
                  Please enter old password</mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <label>New password:</label>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="inputField">
              <mat-form-field appearance="fill" id="password-ff">
                <mat-label>New password*:</mat-label>
                <input matInput type="password"  id="newpassword" placeholder="New Password" name="password-ff" formControlName="newpassword">
                <mat-error
                  *ngIf="!changePasswordForm.get('newpassword').valid && changePasswordForm.get('newpassword').touched && changePasswordForm.get('newpassword').errors['required']">
                  Please enter new password</mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <label>Confirm password:</label>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="inputField">
              <mat-form-field appearance="fill" id="password-ff">
                <mat-label>Confirm password*:</mat-label>
                <input matInput type="password"  id="confirmpassword" placeholder="Confirm Password" name="password-ff" formControlName="confirmpassword">
                <mat-error
                  *ngIf="!changePasswordForm.get('confirmpassword').valid && changePasswordForm.get('confirmpassword').touched && changePasswordForm.get('confirmpassword').errors['required']">
                  Please enter again new password</mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <p hidden></p>
          </mat-grid-tile>
          <mat-grid-tile>
            <p hidden></p>

          </mat-grid-tile>

          <mat-grid-tile>
            <p hidden></p>

          </mat-grid-tile>
          <mat-grid-tile>
            <p hidden></p>
          </mat-grid-tile>

          <mat-grid-tile>
            <p hidden></p>

          </mat-grid-tile>
          <mat-grid-tile>
            <p hidden></p>
          </mat-grid-tile>
        </mat-grid-list>


        <button style="float:left; position:relative;background-color: #385399; " mat-raised-button  (click)='cancelEdit()'  color="accent">Cancel</button>
        <button style="float:right; position:relative; margin-right: 10px;background-color: #385399;" mat-raised-button  (click)='submitChangePassword()'  color="accent">ChangePassword</button>

      </form>

    </mat-card>





  </mat-drawer-content>
</mat-drawer-container>
