<mat-drawer-container class="example-container"  autosize style="position: absolute;right: 0px;left: 0px;bottom: 0px;top: 0px;" hasBackdrop="true">
    <mat-drawer style="width: 20%; height: 100%;" #drawer mode ="side">
       <mat-action-list >
            <button mat-list-item routerLink="pharmacist/profile">  
                <i class="material-icons">dashboard</i>
                <p class="list-p">Dashboard</p>
            </button>
            <button mat-list-item routerLink="pharmacist/profile">  
                    <i class="material-icons">alarm</i>
                    <p class="list-p">Counselings</p>
            </button>
            <button mat-list-item routerLink="pharmacist/profile"> 
          
                <i class="material-icons">calendar_today</i>
                <p class="list-p">Calendar</p>
            </button>
            <button mat-list-item routerLink="pharmacist/profile"> 
            
                <i class="material-icons">article</i>
                <p class="list-p">Counseling reports</p>
            </button>
            <button mat-list-item routerLink="pharmacist/profile"> 
                
                <i class="material-icons">group</i>
                <p class="list-p">Patients</p>
            </button>
            <button mat-list-item routerLink="pharmacist/profile"> 
                
                <i class="material-icons">medication</i>
                <p class="list-p">Medications</p>
            </button>
      </mat-action-list>
      <mat-action-list style="position: absolute; width: 100%; bottom : 1px;">
        <button mat-list-item routerLink="pharmacist/profile"> 
          
            <i class="material-icons">person</i>
            <p class="list-p">Profile</p>
        </button>
        <button  mat-list-item > 
            <i class="material-icons">logout</i>
            <p class="list-p">Logout</p>
        </button>
      </mat-action-list>
    </mat-drawer>
      <mat-drawer-content style="height: 500px;">
        <mat-toolbar style="background-color: white;">
            <button mat-icon-button class="example-icon" (click)="drawer.toggle()" >
              <mat-icon>menu</mat-icon>
            </button>
            <span>Welcome!</span>
            <span class="example-spacer"></span>
          </mat-toolbar>
      </mat-drawer-content>
</mat-drawer-container>


