<mat-drawer-container class="example-container" hasBackdrop="true">
  <mat-drawer-content >
    <mat-toolbar style="background-color: #385399;">
    </mat-toolbar>

    <div style="margin-left: 100px;margin-top:20px;margin-bottom: 30px;">
      <div style="display:flex;">
        <label style="font-size:25px;margin-left:300px">Vacation requests</label>
      </div>
      <label *ngIf="!vacationExists()" style="margin-left:300px;margin-top:50px;">No vacation requests.</label>
      <table style="margin-top: 50px;margin-left: 200px;margin-bottom:50px;" *ngIf="vacationExists()">
        <th>Medical staff</th>
        <span style="margin-left: 100px;"></span>
        <th>Period</th>
        <span style="margin-left: 100px;"></span>
        <th>Reason</th>
        <span style="margin-left: 100px;"></span>
        <tr *ngFor="let vacationRequest of vacationRequests" style="margin-bottom: 10px;">
          <td style="font-size: 15px;">{{vacationRequest.medicalStaff.name}} {{vacationRequest.medicalStaff.surname}}</td>
          <span style="margin-left:30px;"></span>
          <td style="font-size: 15px;"> {{vacationRequest.startDate | date : "dd.MM.y."}} - {{vacationRequest.endDate | date : "dd.MM.y."}} </td>
          <span style="margin-left: 30px;"></span>
          <td style="font-size: 15px;"> {{vacationRequest.vacationReason}} </td>
          <span style="margin-left: 30px;"></span>
          <td><button class="btn"><i style="color: blue;" (click)="approveVacationRequest(vacationRequest.id)">Accept</i></button></td>
          <span style="margin-left: 30px;"></span>
          <td><button class="btn"><i style="color: blue;" (click)="denyVacationRequest(vacationRequest.id)">Deny</i></button></td>

        </tr>
      </table>
      <div style="margin-top: 100px;">
        <button style="float:right; background-color: #385399; margin-right:50px;margin-bottom: 50px;" color="accent" mat-raised-button routerLink="/pharmacy-profile" >Back</button>
      </div>
    </div>

  </mat-drawer-content>
</mat-drawer-container>
