h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}


label {
  font-size: 18px;
  font-weight: 500;
}
a {
  font-size: medium;
  padding-left: 5px;
}
p{
  font-size: 18px;
  font-weight: 400;
}
.example-spacer {
  flex: 1 1 auto;
}
.example-spacer {
  height: 100%;
}

.list-item {
    display: flex;
    align-items: center;
    align-content: center;
}

.list-p {
    margin-top: 10px;
    margin-left: 5px;
}
.example-container {
  flex: 1 1 auto;
  height: 100%;
  /* width: 400px;
  height: 200px;
  margin: 12px; */
  /* border: 1px solid #555; */
  /*background: rgb(164, 194, 201);*/
  background-size: cover;
  background-position: center;
  overflow-y: scroll;
}


p {
  color: white;
}
i {
  color: white;
}
span {
  color: white;
}

mat-icon {
  color: white;
}


.toolbar-class {
  background: rgb(148, 206, 191);

}