<body>
  <mat-drawer-container class="example-container"  autosize style="position: absolute;right: 0px;left: 0px;bottom: 0px;top: 0px; background: transparent;" hasBackdrop="true">
    <mat-drawer style="width: 20%; height: 100%; background-color: #385399;"  #drawer mode ="side">
       <mat-action-list>
        <button mat-list-item (click)="routeToProfile()" style="color: white;"> Home</button>
        <button mat-list-item (click)="routeToOrders()" style="color: white;"> Write offers</button>
        <button mat-list-item (click)="routeToAllOffers()" style="color: white;"> All offers</button>
        <button mat-list-item (click)="routeToOffers()" style="color: white;"> Edit offers</button>
        <button mat-list-item (click)="routeToMeds()" style="color: white;"> Search medications</button>
        <button mat-list-item (click)="routeToPharms()" style="color: white;"> Search pharmacies</button>


      </mat-action-list>
      <mat-action-list style="position: absolute; bottom: 1px;">
              <button style="color: white;" mat-list-item (click)="routeToProfile()"> Profile</button>
              <button style="color: white;" mat-list-item (click)="supplierLogout()"> Logout</button>
              
      </mat-action-list>
    </mat-drawer>
        <mat-drawer-content>
          <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
            <span>Supplier profile</span>
            <span class="example-spacer"></span>
          </mat-toolbar>
         
           <div *ngIf="home" style="display: flex; justify-content: center; width: 100%; overflow-y: true;">

            <mat-card style="width: fit-content; margin-left: 30px; height: fit-content; margin-top: 20px;" class="mat-elevation-z8">
              <mat-card-title style="text-align: center; margin-bottom: 20px;">
                  Profile
              </mat-card-title>
              <mat-card-content>
                  <img style="width: 200px; height: 200px;" (click)="routeToProfile()" src="./assets/profile-photo.png">
              </mat-card-content>
          </mat-card>
            <mat-card style="width: fit-content; margin-left: 30px; height: fit-content; margin-top: 20px;" class="mat-elevation-z8">
                <mat-card-title style="text-align: center; margin-bottom: 20px;">
                    Edit given offers
                </mat-card-title>
                <mat-card-content>
                    <img style="width: 200px; height: 200px;" (click)="routeToOffers()"  src="./assets/editoffer.png">
                </mat-card-content>
            </mat-card>
            <mat-card style="width: fit-content; margin-left: 30px; height: fit-content; margin-top: 20px;" class="mat-elevation-z8">
              <mat-card-title style="text-align: center; margin-bottom: 20px;">
                  All offers
              </mat-card-title>
              <mat-card-content>
                  <img style="width: 200px; height: 200px;" (click)="routeToAllOffers()"  src="./assets/handshake.jpg">
              </mat-card-content>
          </mat-card>
            <mat-card style="width: fit-content; margin-left: 30px; height: fit-content; margin-top: 20px;" class="mat-elevation-z8">
              <mat-card-title style="text-align: center; margin-bottom: 20px;">
                    Orders
                </mat-card-title>
                <mat-card-content>
                    <img style="width: 200px; height: 200px;" (click)="routeToOrders()" src="./assets/images.png">
                </mat-card-content>
            </mat-card>
            <mat-card style="width: fit-content; margin-left: 30px; height: fit-content; margin-top: 20px;" class="mat-elevation-z8">
              <mat-card-title style="text-align: center; margin-bottom: 20px;">
                    Edit storage
                </mat-card-title>
                <mat-card-content>
                    <img style="width: 200px; height: 200px;" (click)="routetToStorage()" src="./assets/storage.png">
                </mat-card-content>
            </mat-card>
            
        </div>
        <div *ngIf="profile" style="width: 100%;">
            <mat-card class="contact-person">
              <mat-card-header>
                <mat-card-title>
                  <label style="font-weight:bold; font-size: 25px;">Contact person</label>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-grid-list cols="2" rowHeight="9:1" style="margin-left: 10px;" >
                  <mat-grid-tile>
                    <label>Name:</label>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <p>{{supplier.name}}</p>
                  </mat-grid-tile>
    
                  <mat-grid-tile>
                    <label>Surname:</label>
                  </mat-grid-tile>
                  <mat-grid-tile>                
                    <p>{{supplier.surname}}</p>
                  </mat-grid-tile>
  
    
                  <mat-grid-tile>
                    <label>Telephone:</label>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <p>{{supplier.phoneNumber}}</p>
                  </mat-grid-tile>
    
                  <mat-grid-tile>
                    <label>Email:</label>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <p>{{supplier.email}}</p>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <label>Date of registration:</label>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <p>{{supplier.dateOfBirth | date:'MM.dd.y'}}</p>
                  </mat-grid-tile>
                </mat-grid-list>
              </mat-card-content>
              <mat-card-actions>
              </mat-card-actions>
  
            </mat-card>
            <mat-card class="firm">
              <mat-card-header>
                <mat-card-title>
                  <label style="font-weight:bold; font-size: 25px;">Firm</label>
                </mat-card-title>
              </mat-card-header>
  
              <mat-card-content>
                <mat-grid-list cols="2" rowHeight="12:1" style="margin-left: 10px;" >
                  <mat-grid-tile>
                    <label>Firm name:</label>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <p>{{supplier.firmName}}</p>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <label>Firm address:</label>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <p>{{supplier.address.street}}, {{supplier.address.city.name}}, {{supplier.address.state.name}}</p>
                  </mat-grid-tile>
                </mat-grid-list>
                <button style="float:right; position:relative;" mat-raised-button id='editProfile' (click)='editProfile()' color="accent">Edit</button>
                <button style="float:left; position:relative; " mat-raised-button id='editProfile' (click)='back()'  color="accent">Back</button>

              </mat-card-content>
            </mat-card>
          </div>
          
          
          <div *ngIf="edit" style="width: 100%; overflow-y:auto;">
            <mat-card class="contact-person-edit">  
              <mat-card-header>
                <mat-card-title>
                  <label style="font-weight:bold; font-size: 25px;">Contact person</label>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <form [formGroup]="editProfileForm">
                  <mat-grid-list cols="2" rowHeight="6:1" style="margin-left: 10px;">
  
                    <mat-grid-tile>
                      <label>Name:</label>
                    </mat-grid-tile>
                    <mat-grid-tile>
                      <div class="inputField">
                        <mat-form-field appearance="fill" id="name-ff">
                            <mat-label>Name*</mat-label>
                            <input matInput id="name" placeholder="Name" name="name-ff" value="{{name}}"
                                formControlName="name">
                            <mat-error
                                *ngIf="!editProfileForm.get('name').valid && editProfileForm.get('name').touched && editProfileForm.get('name').errors['required']">
                                Please enter name</mat-error>
                        </mat-form-field>
                    </div>                  
                  </mat-grid-tile>
      
                    <mat-grid-tile>
                      <label>Surname:</label>
                    </mat-grid-tile>
                    <mat-grid-tile>   
                      <div class="inputField">
                        <mat-form-field appearance="fill" id="surname-ff">
                            <mat-label>Surname*</mat-label>
                            <input matInput id="surname" placeholder="Surname" name="surname-ff" formControlName="surname">                   
                            <mat-error
                                *ngIf="!editProfileForm.get('surname').valid && editProfileForm.get('surname').touched && editProfileForm.get('surname').errors['required']">
                                Please enter surname</mat-error>
                        </mat-form-field>
                    </div>             
                  </mat-grid-tile>
      
                    <mat-grid-tile>
                      <label>Telephone:</label>
                    </mat-grid-tile>
                    <mat-grid-tile>
                      <mat-form-field appearance="fill" id="telephone-ff">
                        <mat-label>Telephone*</mat-label>
                        <input matInput id="telephone" placeholder="Telephone" name="telephone-ff"
                            formControlName="telephone">
                        <mat-error
                            *ngIf="!editProfileForm.get('telephone').valid && editProfileForm.get('telephone').touched && editProfileForm.get('telephone').errors['required']">
                            Please enter telephone</mat-error>
                    </mat-form-field>
                    </mat-grid-tile>
      
                    <mat-grid-tile>
                      <label>Email:</label>
                    </mat-grid-tile>
                    <mat-grid-tile>
                      <p>{{supplier.email}}</p>
                    </mat-grid-tile>
  
                  </mat-grid-list>
  
  
                </form>
                
              </mat-card-content>            
                
            </mat-card>
            <mat-card class="firm-edit">
              <mat-card-header>
                <mat-card-title>
                  <label style="font-weight:bold; font-size: 25px;">Contact person</label>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <form [formGroup]="editProfileForm">
                  <mat-grid-list cols="2" rowHeight="7:1" style="margin-left: 10px;" >
                    <mat-grid-tile>
                      <label>Firm name:</label>
                    </mat-grid-tile>
                    <mat-grid-tile>
                      <p>{{supplier.firmName}}</p>
                    </mat-grid-tile>
                    <mat-grid-tile>
                      <label>Firm address:</label>
                    </mat-grid-tile>
                    <mat-grid-tile>
                      <div class="inputField">
                        <mat-label>Current address: {{supplier.address.street}},{{supplier.address.city.name}}, {{supplier.address.state.name}}</mat-label><br>
                        <app-google-places></app-google-places>
                    </div>
                    </mat-grid-tile>
                  </mat-grid-list>
                 <button style="float:right; position:relative;" mat-raised-button id='editProfile' (click)="confirmEdit()" color="accent">Confirm</button>
   
                 <button style="float:right; position:relative; margin-right: 10px;" mat-raised-button id='editProfile' (click)="changePasswordFunction()" color="accent">Change password</button>

                </form>
<button style="float:left; position:relative; " mat-raised-button id='editProfile' (click)='cancelEdit()'  color="accent">Cancel</button>

</mat-card-content>


            </mat-card>
          </div>

          <div *ngIf="changePassword" style="width: 100%; overflow-y:auto;">
            <mat-card class="password-edit">
              <form [formGroup]="changePasswordForm" (ngSubmit)="submitChangePassword()">
                <mat-grid-list cols="2" rowHeight="5:1" style="margin-left: 10px;">
  
                  <mat-grid-tile>
                    <label *ngIf="changePassword && !newCustomer">Old password:</label>
                    <label *ngIf="changePassword && newCustomer">Predefined password:</label>

                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div class="inputField">
                      <mat-form-field appearance="fill" id="password-ff">
                        <mat-label *ngIf="changePassword && !newCustomer">Old password:</mat-label>
                        <mat-label *ngIf="changePassword && newCustomer">Predefined password:</mat-label>
                              <input matInput type="password" id="oldpassword" placeholder="Password" name="password-ff" formControlName="oldpassword">
                          <mat-error
                              *ngIf="!changePasswordForm.get('oldpassword').valid && changePasswordForm.get('oldpassword').touched && changePasswordForm.get('oldpassword').errors['required']">
                              Please enter old password</mat-error>
                      </mat-form-field>
                    </div>                  
                </mat-grid-tile>
   
                  <mat-grid-tile>
                    <label>New password:</label>
                  </mat-grid-tile>
                  <mat-grid-tile>   
                    <div class="inputField">
                      <mat-form-field appearance="fill" id="password-ff">
                          <mat-label>New password*:</mat-label>
                          <input matInput type="password"  id="newpassword" placeholder="New Password" name="password-ff" formControlName="newpassword">
                          <mat-error
                              *ngIf="!changePasswordForm.get('newpassword').valid && changePasswordForm.get('newpassword').touched && changePasswordForm.get('newpassword').errors['required']">
                              Please enter new password</mat-error>
                      </mat-form-field>
                    </div>               
                  </mat-grid-tile>
    
                  <mat-grid-tile>
                    <label>Confirm password:</label>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div class="inputField">
                      <mat-form-field appearance="fill" id="password-ff">
                          <mat-label>Confirm password*:</mat-label>
                          <input matInput type="password"  id="confirmpassword" placeholder="Confirm Password" name="password-ff" formControlName="confirmpassword">
                          <mat-error
                              *ngIf="!changePasswordForm.get('confirmpassword').valid && changePasswordForm.get('confirmpassword').touched && changePasswordForm.get('confirmpassword').errors['required']">
                              Please enter again new password</mat-error>
                      </mat-form-field>
                    </div>  
                  </mat-grid-tile> 
                      
                  <mat-grid-tile>
                    <p hidden></p>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <p hidden></p>
  
                  </mat-grid-tile>
    
                  <mat-grid-tile>
                    <p hidden></p>
  
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <p hidden></p>
                  </mat-grid-tile>
                  
                  <mat-grid-tile>
                    <p hidden></p>
  
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <p hidden></p>
                  </mat-grid-tile>
                </mat-grid-list>
                
                    <button style="float:right; position:relative; margin-right: 10px;" mat-raised-button id='editProfile' color="accent">ChangePassword</button>
  
                                  </form>
                  <button style="float:left; position:relative; " mat-raised-button id='editProfile' (click)='back()'  color="accent">Back</button>

  
  
              </mat-card>
            </div>
        
    </mat-drawer-content>
</mat-drawer-container>
</body>
