#loginForm {
    min-width: 400px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 20px;
  }
  
  #registerForm {
    min-width: 400px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 18px;
  }
  #dob-ff{
    margin-bottom: 5px;
    width: 400px !important;
    font-size: 14px;
  }
  #name-ff {
    margin-bottom: 5px;
    width: 400px !important;
    font-size: 14px;
  
  }
  #surname-ff {
    margin-bottom: 5px;
    width: 400px !important;
    font-size: 14px;
  
  }
  #password-ff {
    width: 400px !important;
    margin-bottom: 5px;
    font-size: 14px;
  
  }
  #address-ff {
    width: 400px !important;
    margin-bottom: 5px;
    font-size: 14px;
  
  }
  #password1-ff {
    width: 400px !important;
    margin-bottom: 5px;
  }
  #email-ff {
    width: 400px !important;
    margin-bottom: 5px;
    font-size: 14px;
  
  }
  #telephone-ff {
    width: 400px !important;
    margin-bottom: 5px;
    font-size: 14px;
  
  }
  .container {
    display: flex;
    justify-content: center;
    padding-top: 5vw;
  }
  mat-card {
    width: 30vw;
    height: 40vw;
  }
  
  label {
    margin-top: 10px;
    font-size: medium;
  }
  a {
    font-size: medium;
    padding-left: 5px;
  }
  p{
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .main-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .divTool{
    margin-left: 25%;
  }
  .tooltip {
    position: relative;
    display: inline-block;
    }
    
    .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: turquoise;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -420%;
    }
    
    .tooltip:hover .tooltiptext {
    visibility: visible;
    }
    
    .tooltipR {
      position: relative;
      display: inline-block;
    }
    .example-spacer {
      margin-right: 55%;
      position: relative;
    }
    .tooltipR .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: turquoise;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: relative;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -270%;
    }
    
    .tooltipR:hover .tooltiptext {
    visibility: visible;
    }
  
    h1 {
      color: white;
  }
  
  i {
    color: white;
  }
  mat-icon {
      color: white;
  }