<div class="container">
    <mat-card>
        <form [formGroup]="loginForm" (ngSubmit)="signIn()">
            <div id="loginForm">
                <div class="inputField">
                    <mat-form-field appearance="fill" id="email-ff">
                        <mat-label>Email*</mat-label>
                        <input matInput id="username" placeholder="Email" name="email-ff"
                            formControlName="username" class="civca">
                        <mat-error
                            *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched && loginForm.get('username').errors['required']">
                            Please enter email</mat-error>
                    </mat-form-field>
                </div>

                <div class="inputField">
                    <mat-form-field appearance="fill" id="password-ff">
                        <mat-label>Password*</mat-label>
                        <input matInput type="password" id="password" placeholder="Password" name="password-ff"
                            formControlName="password" class="civca">
                        <mat-error
                            *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched && loginForm.get('password').errors['required']">
                            Please enter password</mat-error>
                    </mat-form-field>
                </div>

                <!-- <div style="float: left;">
                    <label>Not registered yet?</label>
                    <a routerLink="/patientRegistration">Register now</a>
                </div> -->
                <button mat-flat-button name="button-ff"  color="primary" type="submit"
                    [disabled]="!loginForm.valid">Login</button>
            </div>
        </form>
    </mat-card>
    <mat-card>
        <div id="registerForm">
            <h1>Don't have an account?</h1>
                <p id="loginP">Click here to register!</p>
                <button mat-flat-button name="button-ff" style="alignment: center;" color="primary" type="submit" routerLink="/registration">Register</button>
        </div>
    </mat-card>
</div>
