<mat-drawer-container class="example-container" hasBackdrop="true">
    <mat-drawer style="width: 20%;" #drawer mode ="over">
       <mat-action-list>
        <button mat-list-item routerLink="/admin/registerPharmacy"> Register pharmacy </button>
        <button mat-list-item routerLink="/admin/registerPharmacyAdmin"> Register pharmacy admin</button>
        <button mat-list-item routerLink='/admin/registerDermatologist'> Register dermatologist </button>
        <button mat-list-item routerLink="/admin/registerSupplier"> Register supplier </button>
        <button mat-list-item routerLink="/admin/addDrug"> Register medication</button>
        <button mat-list-item routerLink="/admin/addAdmin"> Register system administrator</button>
        <button mat-list-item (click)="respondToComplaints()"> Answer to complaints</button>
        <button mat-list-item routerLink="/admin/defineLoyalty"> Define loyalty program</button>

      </mat-action-list>
      <mat-action-list style="position: absolute; bottom: 1px;">
              <button  mat-list-item routerLink="/admin"> Profile</button>
              <button  mat-list-item (click)="adminLogout()"> Logout</button>

      </mat-action-list>
    </mat-drawer>
        <mat-drawer-content>
          <mat-toolbar color="accent">
            <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
            <span>System administrator profile</span>
            <span class="example-spacer"></span>
          </mat-toolbar>

          <mat-card>
            <app-google-places>
            </app-google-places>
          </mat-card>

    </mat-drawer-content>
</mat-drawer-container>