<mat-drawer-container class="example-container" autosize style="position: absolute;right: 0px;left: 0px;bottom: 0px;top: 0px; background: transparent;" hasBackdrop="true" >
    <mat-drawer style="width: 20%; height: 100%; background-color: #385399;" #drawer mode ="side">
      <mat-action-list ><button mat-list-item routerLink="/dashboard">  
        <i class="material-icons">dashboard</i>
       <p class="list-p">Dashboard</p>
       </button>
       <button mat-list-item routerLink="/add-report">  
               <i class="material-icons">alarm</i>
               <p class="list-p">Appointments</p>
       </button>
       <button mat-list-item routerLink="/employee-calendar"> 
   
           <i class="material-icons">calendar_today</i>
           <p class="list-p">Calendar</p>
       </button>
       <button mat-list-item routerLink="/users"> 
       
           <i class="material-icons">article</i>
           <p class="list-p">Search users</p>
       </button>
       <button mat-list-item routerLink="/patients-overview"> 
           
           <i class="material-icons">group</i>
           <p class="list-p">Patients</p>
       </button>
       <div *ngIf="isPharmacist()">
        <button mat-list-item routerLink="/employee-medications"> 
            
            <i class="material-icons">medication</i>
            <p class="list-p">Issue reservation</p>
        </button>
        </div>
   </mat-action-list>
   <mat-action-list style="position: absolute; width: 100%; bottom : 1px;">
   <button mat-list-item routerLink="/employee-profile"> 
         
           <i class="material-icons">person</i>
           <p class="list-p">Profile</p>
       </button>
       <button  mat-list-item (click)='logout()'> 
           <i class="material-icons">logout</i>
           <p class="list-p">Logout</p>
       </button>
     </mat-action-list>
    </mat-drawer>
      <mat-drawer-content>
        <mat-toolbar style="background-color: #385399;">
            <button mat-icon-button class="example-icon" (click)="drawer.toggle()" >
              <mat-icon>menu</mat-icon>
            </button>
            <span>Profile</span>
            <span class="example-spacer"></span>
          </mat-toolbar>

          <div style="display: flex;">

          <mat-card fxLayoutAlign="center" style=" width: 500px; height:800px;" >

            <mat-card-content style="align-content: center;  justify-content: center;" fxLayoutAlign="center" >
                <mat-card-header>
                    <mat-card-title style="margin-top: 5px; margin-bottom: 25px;">
                      <mat-label>Personal information</mat-label>
                    </mat-card-title>
                </mat-card-header>
                <div *ngIf="isNotEditMode">
                <table style="margin-left: 20px;">
                  <tr style="width: 400px; height: 50px;">
                    <td style="width: 200px; margin-bottom: 10px; ">Name:</td>
                    <td style="position: right">{{user.name}}</td>
                  </tr>
                  <tr style="width: 400px; height: 50px;">
                    <td style="width: 200px; ">Surname:</td>
                    <td style="position: right">{{user.surname}}</td>
                  </tr>
                  <tr style="width: 400px; height: 50px;">
                    <td style="width: 200px; ">Gender:</td>
                    <td style="text-transform: capitalize;">{{gender}}</td>
                  </tr>
                  <tr style="width: 400px; height: 50px;">
                    <td style="width: 200px; ">Date of birth:</td>
                    <td style="position: right">{{dateOfBirth}}</td>
                  </tr>
                  <tr style="width: 400px; height: 50px;">
                    <td style="width: 200px; ">City:</td>
                    <td style="position: right">{{user.address.city.name}}, {{user.address.state.name}}</td>
                  </tr>
                  <tr style="width: 400px; height: 50px;">
                    <td style="width: 200px; ">Adddress:</td>
                    <td style="position: right">{{user.address.street}}</td>
                  </tr>
                  
                  <tr style="width: 400px; height: 50px;">
                    <td style="width: 200px; ">Phone number:</td>
                    <td style="position: right">{{user.phoneNumber}}</td>
                  </tr>
                </table>
                <div style="position: absolute; bottom: 5px; right: 10px;">
                  <button mat-flat-button color="primary" style="margin: 10px;" (click)="editProfile()">Edit profile</button>
                  <button mat-flat-button color="primary" (click)="changePassword()">Change password</button>
                </div>
              </div>
              
              <div *ngIf="changePassMode">
                
                <form [formGroup]="changePassForm" (ngSubmit)="saveNewPass()">
                  <table style="margin-left: 20px;">
                    <tr style="width: 400px; margin-bottom: 10px; height: 60px;">
                      <td style="width: 200px; margin-bottom: 10px; ">Old password:</td>
                      <mat-form-field appearance="fill" id="oldpass-ff">
                        <input matInput type="password" formControlName="oldpass" id="oldpass" name="oldpass-ff" style="" placeholder="Enter old password">
                        <mat-error
                                *ngIf="!changePassForm.get('oldpass').valid && changePassForm.get('oldpass').touched && changePassForm.get('oldpass').errors['required']">
                                Please enter old password</mat-error>
                      </mat-form-field>
                    </tr>
                    <tr style="width: 400px; height: 60px;">
                      <td style="width: 200px; ">New password:</td>
                      <mat-form-field appearance="fill" id="newpass-ff">
                        <input matInput type="password" formControlName="newpass" id="newpass" name="newpass-ff" style="" placeholder="Enter new password">
                        <mat-error
                                *ngIf="!changePassForm.get('newpass').valid && changePassForm.get('newpass').touched && changePassForm.get('newpass').errors['required']">
                                Minimum 8 characters</mat-error>
                                <mat-error
                                *ngIf="!changePassForm.get('newpass').valid && changePassForm.get('newpass').touched && changePassForm.get('newpass').errors['pattern']">
                                Minimum 8 characters</mat-error>
                      </mat-form-field>
                    </tr>

                    <tr style="width: 400px; height: 60px;">
                      <td style="width: 200px; ">Repeat new password:</td>
                      <mat-form-field appearance="fill" id="repnew-pass-ff">
                        <input matInput type="password" formControlName="repnewpass" id="repnew-pass" name="repnew-pass-ff" style="" placeholder="Repeat new password">
                        <mat-error
                                *ngIf="!changePassForm.get('repnewpass').valid && changePassForm.get('repnewpass').touched && changePassForm.get('repnewpass').errors['required']">
                                Minimum 8 characters</mat-error>
                                <mat-error
                                *ngIf="!changePassForm.get('repnewpass').valid && changePassForm.get('repnewpass').touched && changePassForm.get('repnewpass').errors['pattern']">
                                Minimum 8 characters</mat-error>
                      </mat-form-field>
                    </tr>
                    
                    </table>
                    
                <div style="position: absolute; bottom: 5px; right: 10px;">
                  <button mat-flat-button color="primary" (click)="cancelEdit()">Cancel</button>
                  <button mat-flat-button color="primary" style="margin: 10px;" [disabled]="!changePassForm.valid" >Save</button>
                </div>
                </form>
              </div>
              <div *ngIf="isEditMode">
                
              <form [formGroup]="editProfileForm" (ngSubmit)="saveProfile()">
                <table style="margin-left: 20px;">
                  <tr style="width: 400px; height: 50px;">
                    <td style="width: 200px; margin-bottom: 10px; ">Name:</td>
                    <mat-form-field appearance="fill" id="name-ff">
                      <input matInput value="{{user.name}}" formControlName="name" id="name" name="name-ff" style="">
                      <mat-error
                              *ngIf="!editProfileForm.get('name').valid && editProfileForm.get('name').touched && editProfileForm.get('name').errors['required']">
                              Please enter name</mat-error>
                              <mat-error
                              *ngIf="!editProfileForm.get('name').valid && editProfileForm.get('name').touched && editProfileForm.get('name').errors['pattern']">
                              Please enter name in correct format</mat-error>
                    </mat-form-field>
                  </tr>
                  <tr style="width: 400px; height: 50px;">
                    <td style="width: 200px; ">Surname:</td>
                    <mat-form-field appearance="fill" >
                      <input matInput [value]="user.surname" formControlName="surname" style="">
                      <mat-error
                              *ngIf="!editProfileForm.get('surname').valid && editProfileForm.get('surname').touched && editProfileForm.get('surname').errors['required']">
                              Please enter surname</mat-error>
                              <mat-error
                              *ngIf="!editProfileForm.get('surname').valid && editProfileForm.get('name').touched && editProfileForm.get('surname').errors['pattern']">
                              Please enter surname in correct format</mat-error>
                    </mat-form-field>
                  </tr>
                  <tr style="width: 400px; height: 50px;">
                    <td style="width: 200px; ">Gender:</td>
                    <mat-form-field appearance="fill" >
                      <mat-select [(value)] = "gender" formControlName="gender">
                      <mat-option value="Female"> Female
                      </mat-option>
                      <mat-option value="Male"> Male
                      </mat-option>
                    </mat-select>
                      <mat-error
                              *ngIf="!editProfileForm.get('gender').valid && editProfileForm.get('gender').touched && editProfileForm.get('gender').errors['required']">
                              Please enter gender</mat-error>
                              <mat-error
                              *ngIf="!editProfileForm.get('gender').valid && editProfileForm.get('gender').touched && editProfileForm.get('gender').errors['pattern']">
                              Please select gender</mat-error>
                    </mat-form-field>
                  </tr>
                  <tr style="width: 400px; height: 50px;">
                    <td style="width: 100px; ">Date of birth:</td>
                    <mat-form-field appearance="fill" >
                      <input matInput formControlName='dob' [max]="maxDateOfBirth" [min]="minDateOfBirth" style="font-size:18px;" placeholder="Birth date" [matDatepicker]="dp3" disabled>
                      <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                      <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                      <mat-error
                              *ngIf="!editProfileForm.get('dob').valid && editProfileForm.get('dob').touched && editProfileForm.get('dob').errors['required']">
                              Please enter date</mat-error>
                              <mat-error
                              *ngIf="!editProfileForm.get('dob').valid && editProfileForm.get('dob').touched && editProfileForm.get('dob').errors['pattern']">
                              Please select a valid date</mat-error>
                    </mat-form-field>
                  </tr>
                  <tr style="width: 400px; height: 50px;">
                    <td style="width: 200px; ">City:</td>
                    <mat-form-field appearance="fill" >
                      <input matInput readonly [value]="user.address.city.name" style="">
                    </mat-form-field>
                  </tr>
                  <tr style="width: 400px; height: 50px;">
                    <td style="width: 200px; ">Address:</td>
                    <mat-form-field appearance="fill" >
                      <input matInput readonly [value]="user.address.street" style="width: 100px;">
                    </mat-form-field>
                  </tr>
                  
                  <tr style="width: 400px; height: 50px;">
                    <td style="width: 200px;">Phone number:</td>
                    <td style="position: right">
                      <mat-form-field appearance="fill" >
                        <input matInput [value]="user.phoneNumber" formControlName="phoneNumber" style="">
                        <mat-error
                              *ngIf="!editProfileForm.get('phoneNumber').valid && editProfileForm.get('phoneNumber').touched && editProfileForm.get('phoneNumber').errors['required']">
                              Please enter phoneNumber</mat-error>
                              <mat-error
                              *ngIf="!editProfileForm.get('phoneNumber').valid && editProfileForm.get('phoneNumber').touched && editProfileForm.get('phoneNumber').errors['pattern']">
                              Please enter phone number in valid format</mat-error>
                      </mat-form-field>
                    </td>
                      
                  </tr>
                </table>
                <div style="position: absolute; bottom: 5px; right: 10px;">
                  <button mat-flat-button color="primary" (click)="cancelEdit()">Cancel</button>
                  <button mat-flat-button color="primary" style="margin: 10px;" [disabled]="!editProfileForm.valid" >Save</button>
                </div>
              </form>
              </div>
            </mat-card-content>
          </mat-card>


          <mat-card style="margin-left: 150px; width: 800px; height:800px; justify-content: center;">
            <mat-card-header>
                <mat-card-title>
                    <mat-label style="margin-top:10px; margin-left: 10px;">Ask for vacation leave</mat-label>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content style="justify-content: center; margin-left: 5px;">
                <div style="width: 500px; height: 300px; border-radius: 20px;">
                <img style="width: 500px; height: 300px; border-radius: 20px;" src="assets/vacation.jpg">
            </div>
            </mat-card-content>

            <form [formGroup]="vacationRequestForm">
              

            <mat-card-content style="justify-content: center; width: 500px; display: flex;">
                <mat-form-field class="example-full-width" appearance="outline" style="width: 245px;">
                    <mat-label>Start date</mat-label>
                    <input matInput [matDatepicker]="dp" formControlName="startDate" [min]="minVacationDate">
                      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                      <mat-datepicker #dp></mat-datepicker>
                      <mat-error
                      *ngIf="!vacationRequestForm.get('startDate').valid && vacationRequestForm.get('startDate').touched && vacationRequestForm.get('startDate').errors['required']">
                      Please enter date</mat-error>
                      <mat-error
                      *ngIf="!vacationRequestForm.get('startDate').valid && vacationRequestForm.get('startDate').touched && vacationRequestForm.get('startDate').errors['pattern']">
                      Please select a valid date</mat-error>
           
                </mat-form-field>
                <mat-form-field class="example-full-width" style="margin-left: 5px; width: 245px;"  appearance="outline">
                    <mat-label>End date</mat-label>
                    <input matInput [matDatepicker]="picker3" formControlName="endDate" [min]="minVacationDate">
                      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                      <mat-datepicker #picker3></mat-datepicker>
                      <mat-error
                      *ngIf="!vacationRequestForm.get('endDate').valid && vacationRequestForm.get('endDate').touched && vacationRequestForm.get('endDate').errors['required']">
                      Please enter date</mat-error>
                      <mat-error
                      *ngIf="!vacationRequestForm.get('endDate').valid && vacationRequestForm.get('endDate').touched && vacationRequestForm.get('endDate').errors['pattern']">
                      Please select a valid date</mat-error>
                </mat-form-field>

            </mat-card-content>

            <mat-card-content>
                <mat-form-field class="example-full-width" appearance="outline" style=" margin-left: 0px; width: 500px; ">
                    <mat-label>Vacation reason</mat-label>
                    <input matInput placeholder="Vacation reason" formControlName="vacationReason" value="Vacation Reason">
                    <mat-error
                      *ngIf="!vacationRequestForm.get('vacationReason').valid && vacationRequestForm.get('vacationReason').touched && vacationRequestForm.get('vacationReason').errors['required']">
                      Please enter a valid reason</mat-error>
                      <mat-error
                      *ngIf="!vacationRequestForm.get('vacationReason').valid && vacationRequestForm.get('vacationReason').touched && vacationRequestForm.get('vacationReason').errors['pattern']">
                      Please enter a valid reason</mat-error>
                  </mat-form-field>
            </mat-card-content>
           </form>

            <button mat-flat-button color="primary" (click)="sendRequest()" [disabled]="!vacationRequestForm.valid" style="position: absolute; right: 50px;">Send request</button>

          </mat-card>
          

      </div>


      </mat-drawer-content>
</mat-drawer-container>


