<mat-drawer-container class="example-container" autosize style="position: absolute;right: 0px;left: 0px;bottom: 0px;top: 0px;" hasBackdrop="true" >
    <mat-drawer style="width: 20%; height: 100%;" #drawer mode ="side">
       <mat-action-list >
            <button mat-list-item routerLink="pharmacist">  
                <i class="material-icons">dashboard</i>
                <p class="list-p">Dashboard</p>
            </button>
            <button mat-list-item routerLink="pharmacist/profile">  
                    <i class="material-icons">alarm</i>
                    <p class="list-p">Counselings</p>
            </button>
            <button mat-list-item routerLink="pharmacist/profile"> 
          
                <i class="material-icons">calendar_today</i>
                <p class="list-p">Calendar</p>
            </button>
            <button mat-list-item routerLink="pharmacist/profile"> 
            
                <i class="material-icons">article</i>
                <p class="list-p">Counseling reports</p>
            </button>
            <button mat-list-item routerLink="pharmacist/profile"> 
                
                <i class="material-icons">group</i>
                <p class="list-p">Patients</p>
            </button>
            <button mat-list-item routerLink="pharmacist/profile"> 
                
                <i class="material-icons">medication</i>
                <p class="list-p">Medications</p>
            </button>
      </mat-action-list>
      <mat-action-list style="position: absolute; width: 100%; bottom : 1px;">
        <button mat-list-item routerLink="pharmacist/profile"> 
          
            <i class="material-icons">person</i>
            <p class="list-p">Profile</p>
        </button>
        <button  mat-list-item > 
            <i class="material-icons">logout</i>
            <p class="list-p">Logout</p>
        </button>
      </mat-action-list>
    </mat-drawer>
      <mat-drawer-content>
        <mat-toolbar style="background-color:white;">
            <button mat-icon-button class="example-icon" (click)="drawer.toggle()" >
              <mat-icon>menu</mat-icon>
            </button>
            <span>Profile</span>
            <span class="example-spacer"></span>
          </mat-toolbar>

          <div style="display: flex;">
          
          <mat-card fxLayoutAlign="center" style=" width: 500px; height:500px;" *ngIf="profile">
              
            <mat-card-content style="align-content: center;  justify-content: center;" fxLayoutAlign="center" >
                <mat-card-header>
                    <mat-card-title style="margin-top: 5px; margin-bottom: 25px;">
        
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <div [hidden]="isEditMode">
                                <button (click)="editProfile()"  mat-menu-item>Edit</button>
                            </div>
                            <div  [hidden]="isNotEditMode" >
                                <button (click)="saveProfile()" mat-menu-item>Save</button>
                            </div>
                        </mat-menu>
                        <mat-label style="margin-top:10px;">Personal information</mat-label>
                    </mat-card-title>
                </mat-card-header>
                <div  [hidden]="isEditMode">
                <mat-card-content class="dashboard-card-content" style="justify-content: center; display: flex; margin-left: 50px; margin-right: 40px;" >
                    
                        <mat-form-field class="example-full-width">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Name" [readonly]="isRequired" value="Name">
                          </mat-form-field>
                          <mat-form-field class="example-full-width" style="margin-left: 40px;">
                            <mat-label>Sruname</mat-label>
                            <input matInput placeholder="Surname" [readonly]="isRequired"  value="Surname">
                          </mat-form-field>
                </mat-card-content>
                </div>
                <div  [hidden]="isNotEditMode">
                    <mat-card-content class="dashboard-card-content" style="justify-content: center; display: flex; margin-left: 50px; margin-right: 40px;" >
                        
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <mat-label>Name</mat-label>
                                <input matInput placeholder="Name" [readonly]="isRequired" value="Name">
                              </mat-form-field>
                              <mat-form-field class="example-full-width" style="margin-left: 40px;"  appearance="outline">
                                <mat-label>Sruname</mat-label>
                                <input matInput placeholder="Surname" [readonly]="isRequired"  value="Surname">
                              </mat-form-field>
                    </mat-card-content>
                    </div>
                <div [hidden]="isEditMode">
                <mat-card-content class="dashboard-card-content" style="justify-content: center; display: flex; margin-left: 50px; margin-right: 40px;" >
                    
                    <mat-form-field class="example-full-width">
                        <mat-label>Address</mat-label>
                        <input matInput placeholder="Name" [readonly]="isRequired"  value="Name">
                      </mat-form-field>
                      <mat-form-field class="example-full-width" style="margin-left: 40px;">
                        <mat-label>City</mat-label>
                        <input matInput placeholder="Surname" [readonly]="isRequired"  value="Surname">
                      </mat-form-field>
            </mat-card-content>
        </div>
        <div [hidden]="isNotEditMode">
            <mat-card-content class="dashboard-card-content" style="justify-content: center; display: flex; margin-left: 50px; margin-right: 40px;" >
                
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="Name" [readonly]="isRequired"  value="Name">
                  </mat-form-field>
                  <mat-form-field class="example-full-width" style="margin-left: 40px;" appearance="outline">
                    <mat-label>City</mat-label>
                    <input matInput placeholder="Surname" [readonly]="isRequired"  value="Surname">
                  </mat-form-field>
        </mat-card-content>
    </div>
    <div [hidden]="isEditMode">
            <mat-card-content class="dashboard-card-content" style="justify-content: center; display: flex; margin-left: 50px; margin-right: 50px;">
                    
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Name" [readonly]="isRequired"  value="Name">
                  </mat-form-field>
                  <mat-form-field class="example-full-width" style="margin-left: 40px;">
                    <mat-label>Date of birth</mat-label>
                    <input matInput [matDatepicker]="picker1" [readonly]="isRequired"  [value]="editDate.value">
                </mat-form-field>
        </mat-card-content>
    </div>
    <div [hidden]="isNotEditMode">
        <mat-card-content class="dashboard-card-content" style="justify-content: center; display: flex; margin-left: 50px; margin-right: 50px;">
                
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Name" [readonly]="isRequired"  value="Name">
              </mat-form-field>
              <mat-form-field class="example-full-width" style="margin-left: 40px;" appearance="outline">
                <mat-label>Date of birth</mat-label>
                <input matInput [matDatepicker]="picker1" [readonly]="isRequired"  [value]="editDate.value">
            </mat-form-field>
    </mat-card-content>
</div>
    <div [hidden]="isEditMode">
        <mat-card-content class="dashboard-card-content" style="justify-content: center; display: flex; margin-left: 50px; margin-right: 50px; margin-bottom: 50px;" >
                    
            <mat-form-field class="example-full-width">
                <mat-label>Phone number</mat-label>
                <input matInput placeholder="Name" [readonly]="isRequired"  value="Name">
              </mat-form-field>
              <mat-form-field class="example-full-width" style="margin-left: 40px;">
                <mat-label>Gender</mat-label>
                <input matInput placeholder="Name" [readonly]="isRequired"  value="Female">
            </mat-form-field>
    </mat-card-content>
    </div>
    
    <div [hidden]="isNotEditMode">
        <mat-card-content class="dashboard-card-content" style="justify-content: center; display: flex; margin-left: 50px; margin-right: 50px; margin-bottom: 50px;" >
                    
            <mat-form-field class="example-full-width"  appearance="outline">
                <mat-label>Phone number</mat-label>
                <input matInput placeholder="Name" [readonly]="isRequired"  value="Name">
              </mat-form-field>
              <mat-form-field class="example-full-width" style="margin-left: 40px;"  appearance="outline">
                <mat-label>Gender</mat-label>
                <input matInput placeholder="Name" [readonly]="isRequired"  value="Female">
            </mat-form-field>
    </mat-card-content>
    </div>
            </mat-card-content>
          </mat-card>
          

          <mat-card style="margin-left: 150px; width: 800px; height:800px; justify-content: center;">
            <mat-card-header>
                <mat-card-title>
                    <mat-label style="margin-top:10px; margin-left: 10px;">Ask for vacation leave</mat-label>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content style="justify-content: center; margin-left: 5px;">
                <div style="width: 500px; height: 300px; border-radius: 20px;">
                <img style="width: 500px; height: 300px; border-radius: 20px;" src="assets/vacation.jpg">
            </div>
            </mat-card-content>

            <mat-card-content style="justify-content: center; width: 500px; display: flex;">
                <mat-form-field class="example-full-width" appearance="outline" style="width: 245px;">
                    <mat-label>Start date</mat-label>
                    <input matInput [matDatepicker]="picker2" [value]="editDate.value" style="font-size:18px">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picke2></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="example-full-width" style="margin-left: 5px; width: 245px;"  appearance="outline">
                    <mat-label>End date</mat-label>
                    <input matInput [matDatepicker]="picker2" [value]="editDate.value" style="font-size:18px">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picke2></mat-datepicker>
                </mat-form-field>

            </mat-card-content>

            <mat-card-content>
                <mat-form-field class="example-full-width" appearance="outline" style=" margin-left: 0px; width: 500px; ">
                    <mat-label>Vacation reason</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Vacation Reason">
                  </mat-form-field>
            </mat-card-content>

            <button mat-flat-button color="primary" style="position: absolute; right: 50px;">Send request</button>
            
          </mat-card>

        </div>
              

      </mat-drawer-content>
</mat-drawer-container>


