<mat-drawer-container class="example-container" autosize style="position: absolute;right: 0px;left: 0px;bottom: 0px;top: 0px; background: transparent;" hasBackdrop="true" >
    <mat-drawer style="width: 20%; height: 100%; background-color: #385399;" #drawer mode ="side">
        <mat-action-list ><button mat-list-item routerLink="/dashboard">  
            <i class="material-icons">dashboard</i>
           <p class="list-p">Dashboard</p>
           </button>
           <button mat-list-item routerLink="/add-report">  
                   <i class="material-icons">alarm</i>
                   <p class="list-p">Appointments</p>
           </button>
           <button mat-list-item routerLink="/employee-calendar"> 
       
               <i class="material-icons">calendar_today</i>
               <p class="list-p">Calendar</p>
           </button>
           <button mat-list-item routerLink="/users"> 
           
               <i class="material-icons">article</i>
               <p class="list-p">Search users</p>
           </button>
           <button mat-list-item routerLink="/patients-overview"> 
               
               <i class="material-icons">group</i>
               <p class="list-p">Patients</p>
           </button>
           <div *ngIf="isPharmacist()">
            <button mat-list-item routerLink="/employee-medications"> 
                
                <i class="material-icons">medication</i>
                <p class="list-p">Issue reservation</p>
            </button>
            </div>
       </mat-action-list>
       <mat-action-list style="position: absolute; width: 100%; bottom : 1px;">
       <button mat-list-item routerLink="/employee-profile"> 
             
               <i class="material-icons">person</i>
               <p class="list-p">Profile</p>
           </button>
           <button  mat-list-item (click)='logout()'> 
               <i class="material-icons">logout</i>
               <p class="list-p">Logout</p>
           </button>
         </mat-action-list>
        </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar style="background-color: #385399;">
            <button mat-icon-button class="example-icon" (click)="drawer.toggle()" >
              <mat-icon>menu</mat-icon>
            </button>
            <span>Patients</span>
            <span class="example-spacer"></span>
        </mat-toolbar>
        <div style="position: relative; left: 10%;">
        <mat-card style="height: fit-content; width: 1000px;">
            <mat-card-title>
                <mat-card-header>
                    <mat-label>Search patient</mat-label>
                </mat-card-header>
            </mat-card-title> 
            <mat-card-content style="margin-top: 30px; margin-left: 20px; display: flex;">
                <form [formGroup]="searchPatientsForm" (ngSubmit)="searchPatients()">
                    <mat-form-field class="example-full-width">
                        <mat-label>By name and surname</mat-label>
                        <input matInput formControlName="name" type="search" placeholder="Name and surname">
                    
                    </mat-form-field>
                    <mat-form-field class="example-full-width" style="margin-left: 30px;">
                        <mat-label>Appointment date</mat-label>
                        <input matInput formControlName='date' style="font-size:18px;" placeholder="date" [matDatepicker]="dp3" id="datepicker" disabled>
                        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                    </mat-form-field>
                    <div style="position: absolute; bottom: 5px; right: 10px;">
                        <button mat-flat-button color="primary" (click)="cancelSearch()">Cancel</button>
                        <button mat-flat-button color="primary" (click)="searchPatients()" style="margin: 10px;">Search</button>
                    </div>
                </form>
            </mat-card-content>
            
        </mat-card>
        <div *ngFor="let p of patients" >
            <mat-card  style="height: fit-content; width: 1000px;">
                <mat-card-title>
                    <mat-card-header>
                        <mat-label>{{p.name}} {{p.surname}}</mat-label>
                    </mat-card-header>
                </mat-card-title> 
                <mat-card-content style="margin-left: 10px;">
                        <mat-list-item><p style="color: black;">Date of birth: {{p.dateOfBirthString}} </p></mat-list-item>
                        
                        <mat-list-item><p style="color: black;">Gender: {{p.gender}}</p></mat-list-item>

                </mat-card-content>
                <mat-accordion class="example-headers-align" multi>
                    <mat-expansion-panel  style="margin-top:20px;" >
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            Prescribed medications
                        </mat-panel-title>
                        
                        </mat-expansion-panel-header>
                        <mat-list>
                            <mat-list-item *ngFor="let m of p.prescribedDrugs">{{m}} </mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>
                    <mat-expansion-panel  style="margin-top:20px;" >
                        <mat-expansion-panel-header>
                        <mat-panel-title *ngIf="isPharmacist">
                            Previously scheduled counselings
                        </mat-panel-title>
                        <mat-panel-title *ngIf="!isPharmacist">
                            Previously scheduled examinations
                        </mat-panel-title>
                        
                        </mat-expansion-panel-header>
                        <mat-list>
                            <mat-list-item *ngFor="let c of p.previousAppointments"> Start time: {{c.startTimeString}} - End time: {{c.endTimeString}} </mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>
                </mat-accordion>
                <div *ngIf="p.upcomingAppointment">
                    <button mat-raised-button color="primary" id="button" style=" margin-top: 20px;"  (click)="startExamination(p)">Start appointment</button>
                </div>

                <mat-card-actions align='end'>
                    
                </mat-card-actions> 
            </mat-card>
        </div>
    </div>
    </mat-drawer-content>
</mat-drawer-container>