<mat-drawer-container class="example-container" autosize style="position: absolute;right: 0px;left: 0px;bottom: 0px;top: 0px; background: transparent;" hasBackdrop="true" >
    <mat-drawer style="width: 15%; height: 100%; background-color: #385399;" #drawer mode ="side">
        <mat-action-list *ngIf="isSupplier()">
          <button mat-list-item routerLink="/supplier" style="color: white;"> Home</button>
          <button mat-list-item routerLink="/supplier/orders" style="color: white;"> Write offers</button>
          <button mat-list-item routerLink='/supplier/allOffers' style="color: white;"> All offers</button>
          <button mat-list-item routerLink='/supplier/offers' style="color: white;"> Edit offers</button>
          <button mat-list-item routerLink='/supplier/storage' style="color: white;"> Storage</button>
          <button mat-list-item routerLink='/searchPharmacies' style="color: white;"> Search pharmacies</button>
        </mat-action-list>
        
        <mat-action-list *ngIf="isPatient()">
            <button mat-list-item  routerLink="/searchPharmacies" style="color: white;"><mat-icon> local_pharmacy</mat-icon> Search for pharmacies </button>
            <button mat-list-item  routerLink="/searchMedications" style="color: white;"> <mat-icon> science</mat-icon>Search for medications </button>
            <button mat-list-item  routerLink="/userProfile" style="color: white;"> <mat-icon>face</mat-icon>Profile</button>

          </mat-action-list>
        <mat-action-list *ngIf="!isSupplier() && !isAdmin() && !isPatient()">
          <button mat-list-item  routerLink="/searchPharmacies" style="color: white;"><mat-icon> local_pharmacy</mat-icon> Search for pharmacies </button>
          <button mat-list-item  routerLink="/searchMedications" style="color: white;"> <mat-icon> science</mat-icon>Search for medications </button>
        </mat-action-list>
        <mat-action-list *ngIf="isAdmin()">
          <button mat-list-item routerLink="/admin" style="color: white;"> Home</button>
          <button mat-list-item routerLink="/admin" style="color: white;"> Home </button>
          <button mat-list-item routerLink="/admin/registerPharmacy" style="color: white;"> Register pharmacy </button>
          <button mat-list-item routerLink="/admin/registerPharmacyAdmin" style="color: white;"> Register pharmacy admin</button>
          <button mat-list-item routerLink='/admin/registerDermatologist' style="color: white;"> Register dermatologist </button>
          <button mat-list-item routerLink="/admin/registerSupplier" style="color: white;"> Register supplier </button>
          <button mat-list-item routerLink="/admin/addDrug" style="color: white;"> Register medication</button>
          <button mat-list-item routerLink="/admin/addAdmin" style="color: white;"> Register system administrator</button>
          <button mat-list-item routerLink="/admin/answerComplaints" style="color: white;"> Answer to complaints</button>
          <button mat-list-item routerLink="/admin/defineLoyalty" style="color: white;"> Define loyalty program</button>
        </mat-action-list>
  
      </mat-drawer>
      <mat-drawer-content>
        <mat-toolbar style="background-color: #385399;" >
           
            <mat-toolbar-row>
                 <button mat-icon-button class="example-icon" (click)="drawer.toggle()" >
                    <mat-icon>menu</mat-icon>
                 </button>
                <h1>AtlasPharmacy</h1>
                <span class="menu-spacer"></span>
                <div class="divTool">
            
                </div>
                <span class="example-spacer"></span>
                <button *ngIf="!checkLoggedInUser()" mat-icon-button [routerLink]="'/login'" class="example-icon" aria-label="Example icon-button with share icon"  class="tooltipR">
                    <mat-icon>login<span class="tooltiptext">Login</span>
                    </mat-icon>
                    </button>
                <button *ngIf="!checkLoggedInUser()" mat-icon-button [routerLink]="'/registration'" class="example-icon" aria-label="Example icon-button with share icon"  class="tooltipR">
                <mat-icon>app_registration <span class="tooltiptext">Registration</span>
                </mat-icon>
                </button>
                <button *ngIf="checkLoggedInUser()" mat-icon-button (click)="logout()" class="example-icon" aria-label="Example icon-button with share icon"  class="tooltipR">
                    <mat-icon>logout <span class="tooltiptext">Logout</span>
                    </mat-icon>
                    </button>
            </mat-toolbar-row>
        </mat-toolbar>

        <div class="table-wrapper">
            <table matSort (matSortChange)="sortData($event)" class="fl-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th mat-sort-header="grade">Grade</th>
                    <th>Profile</th>

                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let p of pharmacies">
                    <td>{{p.name}}</td>
                    <td>{{p.address.street}}, {{p.address.city.name}}, {{p.address.state.name}}</td>
                    <td>{{p.average_grade}}</td>
                    <td><button mat-raised-button color="accent" style="font-size:12px" id="button" (click)="routeToPharmacyProfileMock(p)">Show</button></td>

                </tr>
                
                <tbody>
            </table>
        </div>
        
        <div class="searchName">
            <p style="color: black;">Search by name</p>
        </div>

        <div class="searchBox">
            
            <input #inputName class="searchInput"type="text" name="" placeholder="Search">
            <button class="searchButton" href="#" (click)="findByName(inputName.value)">
                <i class="material-icons">
                    search
                </i>
            </button>
        </div>

        <div class="searchName2">
            <p style="color: black;">Search by address</p>
        </div>

        <div class="searchBox2">
            
            <input #inputAdr class="searchInput"type="text" name="" placeholder="Search">
            <button class="searchButton" href="#" (click)="findByAddress(inputAdr.value)">
                <i class="material-icons">
                    search
                </i>
            </button>
        </div>

        <div class="gradeFilter">
            <p style="color: black;">Filter by grade</p>

            <mat-select placeholder="Select grade range" (selectionChange)="getGradeValues($event)" style="width: 50%;">
                <mat-option value="1">Between 0 and 1</mat-option>
                <mat-option value="2">Between 1 and 2</mat-option>
                <mat-option value="3">Between 2 and 3</mat-option>
                <mat-option value="4">Between 3 and 4</mat-option>
                <mat-option value="5">Between 4 and 5</mat-option>
                <mat-option value="6">All</mat-option>
            </mat-select>
        </div>

        


      </mat-drawer-content>
</mat-drawer-container>



  



