<mat-form-field floatLabel="never">
    <input matInput type="text" [matAutocomplete]="auto" 
      [formControl]="inputFieldFormControl" placeholder="Enter location here" />
  
    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
      <mat-option *ngFor="let option of searchOptions | async" [value]="option.shortAddress" 
        (onSelectionChange)="optionSelectionChange(option, $event)"
        [matTooltip]="option.fullAddress" matTooltipShowDelay="1000">
        <span class="mat-body">{{ option.shortAddress }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>