#loginForm {
  min-width: 400px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  font-size: 20px;
}

#registerForm {
  min-width: 400px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  font-size: 18px;
}
#dob-ff{
  margin-bottom: 5px;
  width: 400px !important;
}
#name-ff {
  margin-bottom: 5px;
  width: 400px !important;
}
#surname-ff {
  margin-bottom: 5px;
  width: 400px !important;
}
#password-ff {
  width: 400px !important;
  margin-bottom: 5px;
}
#address-ff {
  width: 400px !important;
  margin-bottom: 5px;
}
#password1-ff {
  width: 400px !important;
  margin-bottom: 5px;
}
#email-ff {
  width: 400px !important;
  margin-bottom: 5px;
}
#telephone-ff {
  width: 400px !important;
  margin-bottom: 5px;
}
.container {
  display: flex;
  justify-content: center;
  padding-top: 5vw;
}
mat-card {
  width: 30vw;
  height: 40vw;
}

label {
  margin-top: 10px;
  font-size: medium;
}
a {
  font-size: medium;
  padding-left: 5px;
}
p{
  margin-top: 50px;
  margin-bottom: 30px;
}
