<div class="container">

    <div class="main">
            
        <ul>
            <li id="onlyHomePageInLogin"><a id="loginA" href="#">Početna</a></li>               
        </ul>
    </div>   

    <div class="signIn">
        <div class="form-container sign-in-container">
            <form class="formReg" action="#">
                <h1>Registracija</h1>
                <div class="row">
                    <div class="col">
                        <input type="text" placeholder="Ime" />
                    </div>
                    <div class="col">
                        <input type="text" placeholder="Prezime" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="text" placeholder="Email" />
                    </div>
                    <div class="col">
                        <input type="text" placeholder="Telefon" />
                    </div>
                </div>

                <div class="divv">
                    <label class="radio">
                        <input type="radio" name="rdo" id="muski" />Muški
                      </label>
                      
                      <label  class="radio">
                        <input type="radio" name="rdo" id="zenski"/>Ženski
                      </label>
                </div>

                <div class="row">
                    <div class="col">
                <input type="password" placeholder="Lozinka" />
                    </div>
                    <div class="col">
                        <input type="password" placeholder="Ponovi lozinku" />
                    </div>
                </div>

                <button id="signInButton">Registruj se</button>
            </form>
        </div>
        
        <div class="overlay-container">
            <div class="overlay">               
                <div class="overlay-panel overlay-right">
                    <h1>Imaš nalog?</h1>
                    <p id="loginP">Klikni ovde za prijavu!</p>
                    <button class="ghost" id="signUp">Prijavi se</button>
                </div>
            </div>
        </div>
    </div>



</div>