<mat-drawer-container class="example-container" autosize style="position: absolute;right: 0px;left: 0px;bottom: 0px;top: 0px; background: transparent;" hasBackdrop="true" >
    <mat-drawer style="width: 15%; height: 100%; background-color: #385399;" #drawer mode ="side">
       <mat-action-list >
              <button mat-list-item  routerLink="/searchPharmacies" style="color: white;"><mat-icon> local_pharmacy</mat-icon> Search for pharmacies </button>
                <button mat-list-item  routerLink="/searchMedications" style="color: white;"> <mat-icon> science</mat-icon>Search for medications </button>
         
      </mat-action-list>
    </mat-drawer>
      <mat-drawer-content style="justify-content: center;">
        <mat-toolbar style="background-color: #385399;" >
           
            <mat-toolbar-row>
                 <button mat-icon-button class="example-icon" (click)="drawer.toggle()" >
                    <mat-icon>menu</mat-icon>
                 </button>
                <h1>Welcome to AtlasPharmacy</h1>
                <span class="menu-spacer"></span>
                <div class="divTool">
            
                </div>
                <span class="example-spacer"></span>
                <button mat-icon-button [routerLink]="'/login'" class="example-icon" aria-label="Example icon-button with share icon"  class="tooltipR">
                    <mat-icon>login<span class="tooltiptext">Login</span>
                    </mat-icon>
                    </button>
                <button mat-icon-button [routerLink]="'/registration'" class="example-icon" aria-label="Example icon-button with share icon"  class="tooltipR">
                <mat-icon>app_registration <span class="tooltiptext">Registration</span>
                </mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>

        <div class="main-card">
            <mat-card style="margin-top: 20px;">
                    <form [formGroup]="registerForm" (ngSubmit)="register()">
                        <div id="registerForm">
                            <div class="inputField">
                                <mat-form-field appearance="fill" id="name-ff">
                                    <mat-label>Name*</mat-label>
                                    <input matInput id="name" placeholder="Name" name="name-ff"
                                        formControlName="name">
                                    <mat-error
                                        *ngIf="!registerForm.get('name').valid && registerForm.get('name').touched && registerForm.get('name').errors['required']">
                                        Please enter name</mat-error>
                                        <mat-error
                                        *ngIf="!registerForm.get('name').valid && registerForm.get('name').touched && registerForm.get('name').errors['pattern']">
                                        Please enter name in correct form</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="inputField">
                                <mat-form-field appearance="fill" id="surname-ff">
                                    <mat-label>Surname*</mat-label>
                                    <input matInput id="surname" placeholder="Surname" name="surname-ff"
                                        formControlName="surname">
                                    <mat-error
                                        *ngIf="!registerForm.get('surname').valid && registerForm.get('surname').touched && registerForm.get('surname').errors['required']">
                                        Please enter surname</mat-error>
                                        <mat-error
                                        *ngIf="!registerForm.get('surname').valid && registerForm.get('surname').touched && registerForm.get('surname').errors['pattern']">
                                        Please enter surname in correct form</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="inputField">
                            
                                <mat-radio-group name="gender" formControlName='gender' [(ngModel)]="selectedGender" required>
                                    <mat-radio-button value="FEMALE" style="font-size:20px; margin-left: 20px;">Female</mat-radio-button>
                                    <mat-radio-button value="MALE" style="font-size:20px;margin-left: 20px;">Male</mat-radio-button>
                                    <mat-radio-button value="OTHER" style="font-size:20px;margin-left: 20px;">other</mat-radio-button>
                                </mat-radio-group>
                                <mat-error
                                        *ngIf="!registerForm.get('gender').valid && registerForm.get('gender').touched && registerForm.get('gender').errors['required']">
                                        Please choose gender</mat-error>
                            </div>
                            <div class="inputField">
                                <app-google-places> </app-google-places>
                            </div>
                            <div class="inputField">
                                <mat-form-field appearance="fill" id="email-ff">
                                    <mat-label>Email*</mat-label>
                                    <input matInput id="email" placeholder="email" name="email-ff"
                                        formControlName="email">
                                    <mat-error
                                        *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched && registerForm.get('email').errors['required']">
                                        Please enter email</mat-error>
                                        <mat-error
                                        *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched && registerForm.get('email').errors['email']">
                                        Please enter email in correct form</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="inputField">
                                <mat-form-field appearance="fill" id="telephone-ff">
                                    <mat-label>Telephone*</mat-label>
                                    <input matInput id="telephone" placeholder="telephone" name="telephone-ff"
                                        formControlName="telephone">
                                    <mat-error
                                        *ngIf="!registerForm.get('telephone').valid && registerForm.get('telephone').touched && registerForm.get('telephone').errors['required']">
                                        Please enter telephone</mat-error>
                                        <mat-error
                                        *ngIf="!registerForm.get('telephone').valid && registerForm.get('telephone').touched && registerForm.get('telephone').errors['pattern']">
                                        Please enter telephone in correct form</mat-error>
                                </mat-form-field>
                            </div>
        
                            <div class="inputField">
                                <mat-form-field appearance="fill" id="password-ff">
                                    <mat-label>Password*</mat-label>
                                    <input matInput type="password" id="password1" placeholder="password" name="password-ff"
                                        formControlName="password1">
                                    <mat-error
                                        *ngIf="!registerForm.get('password1').valid && registerForm.get('password1').touched && registerForm.get('password1').errors['required']">
                                        Please enter password</mat-error>
                                        <mat-error
                                        *ngIf="!registerForm.get('password1').valid && registerForm.get('password1').touched && registerForm.get('password1').errors['minLength']">
                                        Password has to be minimum 8 characters long</mat-error>
                                </mat-form-field>
                            </div>
        
                            <div class="inputField">
                                <mat-form-field appearance="fill" id="password-ff">
                                    <mat-label>Password*</mat-label>
                                    <input matInput type="password" id="password2" placeholder="password" name="password-ff"
                                        formControlName="password2">
                                    <mat-error
                                        *ngIf="!registerForm.get('password2').valid && registerForm.get('password2').touched && registerForm.get('password2').errors['required']">
                                        Please enter password</mat-error>
                                        <mat-error
                                        *ngIf="!registerForm.get('password2').valid && registerForm.get('password2').touched && registerForm.get('password2').errors['minLength']">
                                        Password has to be minimum 8 characters long</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="inputField">
                                <mat-form-field color="accent" appearance="fill" id="dob-ff">
                                    <input matInput formControlName='dob' [max]="maxDateOfBirth" [min]="minDateOfBirth" [(ngModel)]="selectedDate" style="font-size:18px;" placeholder="Birth date" [matDatepicker]="dp3" disabled>
                                    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                                    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                                  </mat-form-field>
                                  <mat-error
                                  *ngIf="!registerForm.get('dob').valid && registerForm.get('dob').touched && registerForm.get('dob').errors['required']">
                                  Please enter date of birth</mat-error>
                            </div>
                            <div class="submit-button">
                                <button  mat-flat-button color="primary" type="submit" [disabled]="!registerForm.valid">Register</button>
                            </div>
                        </div>
                    </form>
                </mat-card>
                <mat-card style="margin-top: 20px;">
                    <div id="loginForm">
                        <h2>Already have an account?</h2>
                        <p>Click here to login!</p>
                        <button mat-flat-button name="button-ff" color="primary" type="submit" routerLink="/login">Login</button>
                    </div>       
                </mat-card>
            </div>

    </mat-drawer-content>    
</mat-drawer-container>
        
        <!-- <div class="form-container sign-in-container">
            <form class="formReg" action="#">
                <h1>Registracija</h1>
                <div class="row">
                    <div class="col">
                        <input type="text" placeholder="Ime" />
                    </div>
                    <div class="col">
                        <input type="text" placeholder="Prezime" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="text" placeholder="Email" />
                    </div>
                    <div class="col">
                        <input type="text" placeholder="Telefon" />
                    </div>
                </div>

                <div class="divv">
                    <label class="radio">
                        <input type="radio" name="rdo" id="muski" />Muški
                      </label>
                      
                      <label  class="radio">
                        <input type="radio" name="rdo" id="zenski"/>Ženski
                      </label>
                </div>

                <div class="row">
                    <div class="col">
                <input type="password" placeholder="Lozinka" />
                    </div>
                    <div class="col">
                        <input type="password" placeholder="Ponovi lozinku" />
                    </div>
                </div>

                <button id="signInButton">Registruj se</button>
            </form>
        </div>
        
        <div class="overlay-container">
            <div class="overlay">               
                <div class="overlay-panel overlay-right">
                    <h1>Imaš nalog?</h1>
                    <p id="loginP">Klikni ovde za prijavu!</p>
                    <button class="ghost" id="signUp" routerLink="/login">Prijavi se</button>
                </div>
            </div>
        </div>
    </div> -->



