<mat-drawer-container class="example-container" autosize style="position: absolute;right: 0px;left: 0px;bottom: 0px;top: 0px; background: transparent;" hasBackdrop="true" >
    <mat-drawer style="width: 20%; height: 100%; background-color: #385399;" #drawer mode ="side">
        <mat-action-list ><button mat-list-item routerLink="/dashboard">  
            <i class="material-icons">dashboard</i>
            <p class="list-p">Dashboard</p>
            </button>
            <button mat-list-item routerLink="/add-report">  
                    <i class="material-icons">alarm</i>
                    <p class="list-p">Counselings</p>
            </button>
            <button mat-list-item routerLink="/employee-calendar"> 
        
                <i class="material-icons">calendar_today</i>
                <p class="list-p">Calendar</p>
            </button>
            <button mat-list-item routerLink="/appointment-report"> 
            
                <i class="material-icons">article</i>
                <p class="list-p">Counseling reports</p>
            </button>
            <button mat-list-item routerLink="/patients-overview"> 
                
                <i class="material-icons">group</i>
                <p class="list-p">Patients</p>
            </button>
            <button mat-list-item routerLink="/employee-medications"> 
                
                <i class="material-icons">medication</i>
                <p class="list-p">Medications</p>
            </button>
        </mat-action-list>
        <mat-action-list style="position: absolute; width: 100%; bottom : 1px;">
        <button mat-list-item routerLink="/employee-profile"> 
              
                <i class="material-icons">person</i>
                <p class="list-p">Profile</p>
            </button>
            <button  mat-list-item (click)='logout()'> 
                <i class="material-icons">logout</i>
                <p class="list-p">Logout</p>
            </button>
          </mat-action-list>
    </mat-drawer>
      <mat-drawer-content>
        <mat-toolbar style="background-color: #385399;">
            <button mat-icon-button class="example-icon" (click)="drawer.toggle()" >
              <mat-icon>menu</mat-icon>
            </button>
            <span>Medications</span>
            <span class="example-spacer"></span>
          </mat-toolbar>
          <mat-card style="height: fit-content;">
            <mat-card-title>
                <mat-card-header>
                    <mat-label>Issue reservation</mat-label>
                </mat-card-header>

            </mat-card-title> 
            <mat-card-content style="margin-top: 30px; margin-left: 40px; display: flex;">
                
                <form [formGroup]="searchForm" (ngSubmit)="searchReservation()">
                    <mat-form-field class="example-full-width">
                        <mat-label>By reservation serial number</mat-label>
                        <input matInput type="search" formControlName="uniqueIdentifier" placeholder="Name and surname">
                        <mat-error
                                *ngIf="!searchForm.get('uniqueIdentifier').valid && searchForm.get('uniqueIdentifier').touched && searchForm.get('uniqueIdentifier').errors['required']">
                                Minimum 8 characters</mat-error>
                                <mat-error
                                *ngIf="!searchForm.get('uniqueIdentifier').valid && searchForm.get('uniqueIdentifier').touched && searchForm.get('uniqueIdentifier').errors['pattern']">
                                Minimum 8 characters</mat-error>
                    </mat-form-field>
                    <div style="position: relative; bottom: 5px; left: 0px;">
                        <button mat-flat-button color="primary" style="width: 100px;">Search</button>
                    </div>
                </form>
                
            </mat-card-content>
        </mat-card>
        <div *ngIf="showResults">
            <mat-card style="height: fit-content; width: 1000px;">
                <mat-card-title>
                    <mat-card-header>
                        <mat-label>Patient: {{reservation.patientName}}</mat-label>
                    </mat-card-header>
                </mat-card-title> 
                <mat-card-content>
                    <mat-list style="margin-left: 20px;">
                        <mat-list-item><p style="color: black;"> Expiration date: {{reservation.expirationDate}} </p></mat-list-item>
                    </mat-list>
                </mat-card-content>
                <mat-accordion class="example-headers-align" multi>
                    <mat-expansion-panel  style="margin-top:20px;" >
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            Details
                        </mat-panel-title>
                        
                        </mat-expansion-panel-header>
                        <mat-list>
                            <mat-list-item>Medication: {{reservation.medicationName}}</mat-list-item>
                            <mat-list-item>Unique identifier: {{reservation.uniqueIdentifier}}</mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>
                </mat-accordion>
                <mat-card-actions align='end'>

                <div style="position: relative; bottom: 5px; right: 10px;">
                    <button mat-flat-button color="primary" style="margin: 10px;" [disabled]="!issueAvailable" (click)="issueReservation()">Issue</button>
                </div>
                    
                </mat-card-actions> 
            </mat-card>
        </div>
        
          
     </mat-drawer-content>
</mat-drawer-container>