
#loginForm {
    min-width: 400px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 20px;
  }
  
  #registerForm {
    min-width: 400px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 20px;
  }


  #pname-ff {
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-left: 20px;
    width: 92%;
    font-size: 20px;
  }
  #paddress-ff {
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-left: 20px;
    width: 92%;
    font-size: 20px;
  }
  #name-ff {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-left: 20px;
    width: 92%;
    font-size: 14px;
  }
  #surname-ff {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-left: 20px;
    width: 92%;
    font-size: 14px;
  }
  #dob-ff {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-left: 20px;
    width: 92%;
    font-size: 14px;
  }
  #address-ff {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-left: 20px;
    width: 92%;
    font-size: 14px;
  }
  #telephone-ff {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-left: 20px;
    width: 92%;
    font-size: 14px;
  }
  #mail-ff {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-left: 20px;
    width: 92%;
    font-size: 14px;
  }
  #gender-ff {
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-left: 20px;
    width: 92%;
    font-size: 20px;
  }
  #password-ff {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-left: 20px;
    width: 92%;
    font-size: 14px;
  }

  #password1-ff {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-left: 20px;
    width: 92%;
    font-size: 16px;
  }

  .container {
    display: flex;
    justify-content: center;
    padding-top: 5vw;
  }
  .pharmacyCard {
    float:left;
    margin-left: 20%; 
    margin-top:2%;
    width: 27%;
    height: 40vw;
  }
  .adminCard{
    float:left;
    margin-top:2%;
    margin-left: 2%;
    width: 27%;
    height: 40vw;
  }
  label {
    font-size: 20px;
    font-weight: 500;
  }
  a {
    font-size: medium;
    padding-left: 5px;
  }
  p{
    font-size: 20px;
    font-weight: 400;
  }

  .example-spacer {
    height: 100%;
  }
  .example-container {
    flex: 1 1 auto;
    height: 100%;
    /* width: 400px;
    height: 200px;
    margin: 12px; */
    /* border: 1px solid #555; */
    background: wheat;
  }
  
  mat-drawer-content {
    /* padding: 12px; */
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
  }
  .drawer-content{
    display: flex;
    width: 100%;
  }